@model MyPortal.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var version = ViewContext.Controller.GetType().Assembly.GetName().Version;
}

<div class="row justify-content-center">
    <div class="col-md-10">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block mp-login-image">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            @using (Html.BeginForm("LoginPost", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>MyPortal</h4>
                                <h5>@Model.SchoolName</h5>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Username")
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Login.Username, new { @class = "form-control form-control-sm", Name = "Login.Username" })
                                        @Html.ValidationMessageFor(m => m.Login.Username, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Password")
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control form-control-sm", Name = "Login.Password" })
                                        @Html.ValidationMessageFor(m => m.Login.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.Login.RememberMe, new { Name = "Login.RememberMe" })
                                            @Html.Label("Remember Me")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Login" class="btn btn-primary btn-sm" />
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="text-center py-3">
                            <span>Version @version.Major.ToString().@version.Minor.ToString().@version.Build.ToString()</span>
                            <span>&copy; MyPortal Ltd 2019</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}