@model MyPortal.Models.Database.PersonnelTrainingCourse
@{
    ViewBag.Title = "New Course";
    ViewBag.DisplayTitle = "Courses - New";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New Training Course</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        
        @using (Html.BeginForm("CreateCourse"))
        {
            <div class="form-group">
                @Html.Label("Course Code")
                @Html.TextBoxFor(c => c.Code, new {@class = "form-control"})
                @Html.ValidationMessageFor(c => c.Code)
            </div>
            <div class="form-group">
                @Html.Label("Description")
                @Html.TextBoxFor(c => c.Description, new {@class = "form-control"})
                @Html.ValidationMessageFor(c => c.Description)
            </div>
            @Html.AntiForgeryToken()
            <button type="button" class="btn btn-primary" id="backButton">Back</button>
            <button type="submit" class="btn btn-primary">Save</button>
        }

    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("@Url.Action("TrainingCourses")");
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}