@using MyPortal.Services
@model MyPortal.Areas.Staff.ViewModels.TrainingCoursesViewModel
@{
    ViewBag.Title = "Training Courses";
    ViewBag.DisplayTitle = "Training Courses";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Training Courses</h1>
</div>

@if (User.HasPermission("EditCourses"))
{
    <div class="row">

        <div class="col-xl-12 col-md-12 mb-4">

            @Html.ActionLink("New Course", "CreateCourse", null, new {@class = "btn btn-primary"})

        </div>

    </div>
}

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Courses").DataSource(d => { d.Url("/api/personnel/courses/get/dataGrid/all").CrossDomain(false).Adaptor("UrlAdaptor"); }).Columns(c =>
                {
                    c.Field("Code").HeaderText("Code").Template("#coursesCodeTemplate").Width("150").Add();
                    c.Field("Description").HeaderText("Description").Template("#coursesDescriptionTemplate").Width("200").Add();
                    if (User.HasPermission("EditCourses"))
                    {
                        c.HeaderText("Actions").Template("#coursesActionsTemplate").Width("170").Add();
                    }
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string> {"Search"}).Render()
            </div>
        </div>
    </div>
</div>

<div id="EditCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">

        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Training Course</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = "/api/personnel/courses/update", HttpMethod = "POST", OnSuccess = "editCourseSuccess", OnFailure = "editCourseFailure"}, new {id = "EditCourseForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(l => l.Course.Code)
                        @Html.TextBoxFor(x => x.Course.Code, new {@class = "form-control", id = "EditCourseCodeControl", Name = "Code"})
                        @Html.ValidationMessageFor(l => l.Course.Code)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(l => l.Course.Description)
                        @Html.TextBoxFor(l => l.Course.Description, new {@class = "form-control", id = "EditCourseDescriptionControl", Name = "Description"})
                        @Html.ValidationMessageFor(l => l.Course.Description)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(l => l.Course.Id, new {id = "EditCourseIdControl", Name = "Id"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {

            $('#EditCourseModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $("#Courses").on("click",
                ".js-edit",
                function() {
                    const button = $(this);
                    const courseId = button.attr("data-course-id");
                    $.ajax({
                        url: `/api/personnel/courses/get/byId/${courseId}`,
                        method: "GET",
                        success: function(result) {
                            $("#EditCourseCodeControl").val(result["code"]);
                            $("#EditCourseDescriptionControl").val(result["description"]);
                            $("#EditCourseIdControl").val(result["id"]);
                        },
                        error: function() {
                            toastr.error("Failed to load course data");
                        }
                    });
                    $("#EditCourseModal").modal('toggle');
                });

            $("#Courses").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this course?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: `/api/courses/remove/${button.attr("data-course-id")}`,
                                    method: "DELETE",
                                    success: function(ajaxResult) {
                                        refreshTable("Courses");
                                        toastr.success(ajaxResult);
                                    },
                                    error: function(ajaxResult) {
                                        toastr.error(ajaxResult.responseJSON);
                                    }
                                });
                            }
                        });
                });

        });
    </script>

    <script type="text/x-jsrender" id="coursesCodeTemplate">
        <div>
            ${Code}
        </div>
    </script>

    <script type="text/x-jsrender" id="coursesDescriptionTemplate">
        <div>
            ${Description}
        </div>
    </script>

    <script type="text/x-jsrender" id="coursesActionsTemplate">
            <div>
                <button type='button' class='btn btn-xs btn-warning mp-btn-action js-edit' data-course-id="${Id}">
                    <i class="far fa-edit"></i>
                </button>
                
                <button type='button' class='btn btn-xs btn-danger mp-btn-action js-delete' data-course-id="${Id}">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </script>

    @Scripts.Render("~/bundles/jqueryval")

}