@using MyPortal.Processes
@using Syncfusion.EJ2.Calendars
@model MyPortal.ViewModels.RegistersViewModel
@{
    ViewBag.Title = "Registers";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Registers</h2>
    <hr />
</div>

<div class="container float-left" id="registerSelectors" data-current-user-id="@Model.CurrentUser.Id">
    <div>
        @Html.Label("Date", new { @class = "control-label" })
        @*@Html.TextBox("Date", null, new {id = "selectedDate", @class = "form-control register-selector"})*@
        @Html.EJS().DatePicker("selectedDate").Format("dd-MMM-yyyy").AllowEdit(false).HtmlAttributes(new Dictionary<string, object> { { "Name", "Date" } }).Render()
    </div>
    <div class="form-group">
        @Html.Label("Teacher")
        <select class="form-control" id="selectedTeacher"></select>
    </div>

    <button type="button" class="btn btn-primary" id="buttonSearch">Search Lessons</button>
</div>

<!--#region Registers Panel-->
<div class="container float-left mp-margin-top">
    <div>
        <hr />
        <h4 class="mp-bold" id="registersFor"></h4>
        @Html.EJS().Grid("Registers").DataSource(d =>
        {
            d.Url($"/api/curriculum/sessions/get/byTeacher/dataGrid/{Model.CurrentUser.Id}/{DateTime.Today.ToDisplayString()}").CrossDomain(false).Adaptor("UrlAdaptor");
        }).Columns(c =>
        {
            c.Field("PeriodName").HeaderText("Period").Template("#registersPeriodTemplate").Width("200").Add();
            c.Field("ClassName").HeaderText("Class").Template("#registersClassTemplate").Width("200").Add();
            c.Field("Teacher").HeaderText("Teacher").Template("#registersTeacherTemplate").Width("200").Add();
            c.HeaderText("Actions").Template("#registersActionsTemplate").Width("200").Add();
        }).AllowPaging().PageSettings(p => p.PageSize(8)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string>() { "Search" }).Render()
    </div>
</div>
<!--#endregion-->

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $.ajax({
                url: "/api/people/staff/get/all",
                method: "GET",
                complete: function(data) {
                    $("#selectedTeacher").empty();
                    $(data.responseJSON).each(function(i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].person.lastName +
                            ", " +
                            data.responseJSON[i].person.firstName +
                            "</option>";
                        $(divData).appendTo('#selectedTeacher');

                        $("#selectedTeacher").val(@Model.CurrentUser.Id);
                        $("#selectedDate").val("@DateTime.Today.ToDisplayString()");
                    });
                }
            });

            $("#buttonSearch").on("click",
                function() {
                    var selDate = $("#selectedDate").val();
                    var selTeacher = $("#selectedTeacher").val();
                    updateWeekId(selDate);
                    changeTableSource("Registers",
                        `/api/curriculum/sessions/get/byTeacher/dataGrid/${selTeacher}/${selDate}`);
                });

            $("#Registers").on("click",
                ".js-takeRegister",
                function() {
                    var button = $(this);
                    var weekId = $("#Registers").attr("data-week-id");
                    var sessionId = button.attr("data-session-id");
                    location.replace("/Staff/Attendance/TakeRegister/" + weekId + "/" + sessionId);
                });
        });

        function updateWeekId(selectedDate) {
            $("#Registers").attr("data-week-id", "");
            var url = "/api/attendance/weeks/get/byDate/" + selectedDate;

            $.ajax({
                url: url,
                method: "GET",
                success: function(result) {
                    $("#Registers").attr("data-week-id", result.id);
                }
            });
        }

    </script>

    <script type="text/x-jsrender" id="registersPeriodTemplate">
        <div>
            ${PeriodName}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersClassTemplate">
        <div>
            ${ClassName}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersTeacherTemplate">
        <div>
            ${Teacher}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersActionsTemplate">
        <div>
            <button type='button' class='btn btn-xs btn-success js-takeRegister' data-session-id='${Id}'>
                <i class="fas fa-clipboard-check"></i>
            </button>
        </div>
    </script>
}