@model MyPortal.ViewModels.TakeRegisterViewModel
@{
    ViewBag.Title = "Take Register: " + @Model.ClassPeriod.AttendancePeriod.Name + " - " + @Model.ClassPeriod.CurriculumClass.Name;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Take Register:</h2>    
    <h4> @Model.ClassPeriod.CurriculumClass.Name (@Model.ClassPeriod.AttendancePeriod.Name) - @Model.ClassPeriod.CurriculumClass.Teacher.Title @Model.ClassPeriod.CurriculumClass.Teacher.FirstName.Substring(0, 1) @Model.ClassPeriod.CurriculumClass.Teacher.LastName</h4>
    <hr />
</div>

<div class="container float-left">
    <table class="table table-sm table-bordered table-hover mp-table mp-table-link" id="marks">
        <thead>
        <tr>
            <th>Student</th>
            @foreach (var period in Model.Periods)
            {
                <th>@period.Name</th>
            }
        </tr>
        </thead>
    </table>       
</div>

<div class="container float-left">
    <button type="button" class="btn btn-primary" id="buttonBack">Back</button>
    <button type="button" class="btn btn-primary" id="buttonSearch">Save</button>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#buttonBack").on("click",
                function() {
                    location.replace("/Staff/Attendance/Registers");
                });

            var url = "/api/attendance/marks/loadRegister/@Model.WeekId/@Model.ClassPeriod.Id"; 

            $("#marks").DataTable({
                ajax: {
                    url: url,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "student.id",
                        render: function(data, type, markObject) {
                            return markObject.student.lastName + ", " + markObject.student.firstName;
                        }
                    },
                    {
                        data: "marks",
                        render: function(data, type, marks) {
                            return "/";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "/";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "/";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "-";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "-";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "-";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "-";
                        }
                    },
                    {
                        data: "marks",
                        render: function (data, type, marks) {
                            return "-";
                        }
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "No lessons to display"
                }
            });
        });
    </script>
}





