@model MyPortal.ViewModels.TakeRegisterViewModel
@{
    ViewBag.Title = "Take Register: " + @Model.Period.Name + " - " + @Model.Class.Name;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Take Register:</h2>
    <h4> @Model.Class.Name (@Model.Period.Name) - @Model.Class.CoreStaffMember.Title @Model.Class.CoreStaffMember.FirstName.Substring(0, 1) @Model.Class.CoreStaffMember.LastName</h4>
    <hr />
</div>

<div class="container float-left">
    <table class="table table-sm table-bordered table-hover mp-table mp-table-link" id="marks">
        <thead>
        <tr>
            <th>Student</th>
            @foreach (var period in Model.Periods)
            {
                <th>@period.Name</th>
            }
        </tr>
        </thead>
    </table>

    <button type="button" class="btn btn-primary" id="buttonBack">Back</button>
    <button type="button" class="btn btn-primary" id="buttonSearch">Save</button>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#buttonBack").on("click",
                function() {
                    location.replace("/Staff/Attendance/Registers");
                });

            $("#marks").DataTable({
                ajax: {
                    url: url,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "attendancePeriod.name"
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                "language": {
                    "emptyTable": "No lessons to display"
                }
            });
        });
    </script>
}





