@using MyPortal.Processes
@using Syncfusion.EJ2.Grids
@model MyPortal.ViewModels.TakeRegisterViewModel
@{
    ViewBag.Title = "Take Register: " + @Model.Session.AttendancePeriod.Name + " - " + @Model.Session.CurriculumClass.Name;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<style>
    tr {
        font-weight: bold;
    }
</style>

<div class="container float-left">
    <h2 class="mp-page-title">Take Register:</h2>
    <h4>@Model.SessionDate.ToLongDateString() -  @Model.Session.CurriculumClass.Name (@Model.Session.AttendancePeriod.Name) - @PeopleProcesses.GetStaffDisplayName(Model.Session.CurriculumClass.Teacher).ResponseObject</h4>
    <hr />
</div>

<div class="container float-left">
    @Html.EJS().Grid("Marks").DataSource(d =>
    {
        d.Url($"/api/attendance/marks/loadRegister/dataGrid/{Model.WeekId}/{Model.Session.Id}").BatchUrl("/api/attendance/marks/saveRegister").CrossDomain(false).Adaptor("UrlAdaptor");
    }).Columns(c =>
    {
        c.Field("StudentName").HeaderText("Student").Template("#marksStudentTemplate").Width("150").Add();

        for (int i = 0; i < Model.Periods.Count(); i++)
        {
            c.HeaderText(Model.Periods.ToList()[i].Name).Template($"#marksPeriod-{i}-Template").Width("70").TextAlign(TextAlign.Center).Add();
        }
    }).EditSettings(e => { e.AllowEditing(true).Mode(EditMode.Batch);}).EnableHover().Toolbar(new List<string>() {"Update"}).GridLines(GridLine.Both).Render()
</div>

<div class="container float-left">
    <button type="button" class="btn btn-primary" id="buttonBack">Back</button>
    <button type="button" class="btn btn-primary" id="buttonSearch">Save</button>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#buttonBack").on("click",
                function () {
                    location.replace("/Staff/Attendance/Registers");
                });
        });

        function renderAttendanceMark(marks, i) {
            return marks[i].Mark;
        }
    </script>

    <script type="text/x-jsrender" id="marksStudentTemplate">
        <div>
            ${StudentName}
        </div>
    </script>

    @for (int i = 0; i < Model.Periods.Count(); i++)
    {
        if (Model.Periods.ElementAt(i).Name == Model.Session.AttendancePeriod.Name)
        {
            <script type="text/x-jsrender" id="marksPeriod-@i-Template">
                <div class="register-column-current">
                    ${Marks[@i].Mark}
                </div>
            </script>
        }
        else
        {
            <script type="text/x-jsrender" id="marksPeriod-@i-Template">
                <div>
                    ${Marks[@i].Mark}
                </div>
            </script>
        }
    }
}





