<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortal - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var version = ViewContext.Controller.GetType().Assembly.GetName().Version;
    }

    @Scripts.Render("~/bundles/syncfusion")
</head>
<body class="portal-body">
<div id="wrapper">
    @Html.Partial("_SideBar")
    
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            @Html.Partial("_NavBar")
            
            <div class="container-fluid">
                @RenderBody()
            </div>
            
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><b>Version:</b> @version.Major.ToString().@version.Minor.ToString().@version.Build.ToString()</span>
                        <span>&copy; @DateTime.Now.Year - Rowan Richards</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/navbar")
@RenderSection("scripts", false)

<!-- Syncfusion Essential JS 2 ScriptManager -->
@Html.EJS().ScriptManager()
</body>
</html>