<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
            <div class="sidebar-brand-text mx-3">
                MyPortal
            </div>
        </a>

        <hr class="sidebar-divider my-0" />

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        <hr class="sidebar-divider" />

        <div class="sidebar-heading">
            Student Portal
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudent" aria-expanded="true" aria-controls="collapseStudent">
                <i class="fas fa-fw fa-user-graduate"></i>
                <span>Student</span>
            </a>
            <div id="collapseStudent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Student</h6>
                    @Html.ActionLink("Results", "Results", "Students", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStore" aria-expanded="true" aria-controls="collapseStore">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>Store</span>
            </a>
            <div id="collapseStore" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Store</h6>
                    @Html.ActionLink("Store", "Store", "Students", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Sales History", "SalesHistory", "Students", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        
        <hr class="sidebar-divider d-none d-md-block">
    
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
