@model MyPortal.Areas.Staff.ViewModels.CommentBanksViewModel
@{
    ViewBag.Title = "Comment Banks";
    ViewBag.DisplayTitle = "Comment Banks";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Comment Banks</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">

        <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#NewCommentBankModal">New Comment Bank</button>

    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Comment Banks</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("CommentBanks").DataSource(d => { d.Url(Url.HttpRouteUrl("ApiProfilesGetAllCommentBanksDataGrid", new { })).CrossDomain(false).Adaptor("UrlAdaptor"); }).Columns(c =>
                {
                    c.Field("Name").HeaderText("Name").Template("#commentBankNameTemplate").Width("300").Add();
                    c.HeaderText("Actions").Template("#commentBankActionsTemplate").Width("170").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string> { "Search" }).Render()
            </div>
        </div>
    </div>

</div>

<div id="NewCommentBankModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Comment Bank</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiProfilesCreateCommentBank", new {}), HttpMethod = "POST", OnSuccess = "newCommentBankSuccess", OnFailure = "newCommentBankFailure"}, new {id = "newCommentBankForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CommentBank.Name)
                        @Html.TextBoxFor(x => x.CommentBank.Name, new {@class = "form-control form-control-sm", Name = "Name"})
                        @Html.ValidationMessageFor(x => x.CommentBank.Name)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="EditCommentBankModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Comment Bank</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiProfilesUpdateCommentBank", new {}), HttpMethod = "POST", OnSuccess = "editCommentBankSuccess", OnFailure = "editCommentBankFailure"}, new {id = "newResultSetForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CommentBank.Name)
                        @Html.TextBoxFor(x => x.CommentBank.Name, new {@class = "form-control form-control-sm", Name = "Name", id = "editCommentBankNameControl"})
                        @Html.ValidationMessageFor(x => x.CommentBank.Name)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CommentBank.Id, new {Name = "Id", id = "editCommentBankIdControl"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>

        var urlGetCommentBankById = "@Url.HttpRouteUrl("ApiProfilesGetCommentBankById", new {commentBankId = 9999})";
        var urlDeleteCommentBank = "@Url.HttpRouteUrl("ApiProfilesDeleteCommentBank", new {commentBankId = 9999})";

        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $("#CommentBanks").on("click",
                ".js-edit",
                function() {
                    var button = $(this);
                    var bankId = button.attr("data-bank-id");
                    $.ajax({
                        url: urlGetCommentBankById.replace("9999", bankId),
                        method: "GET",
                        success: function(result) {
                            $("#editCommentBankNameControl").val(result["name"]);
                            $("#editCommentBankIdControl").val(result["id"]);
                        },
                        error: function() {
                            toastr.error("Failed to load comment bank data");
                        }
                    });
                    $("#EditCommentBankModal").modal('toggle');
                });

            $("#CommentBanks").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this comment bank and its comments?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: urlDeleteCommentBank.replace("9999", button.attr("data-bank-id")),
                                    method: "DELETE",
                                    success: function(a) {
                                        refreshTable("CommentBanks");
                                        toastr.success(a);
                                    },
                                    error: function(e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });

        });

        function newCommentBankSuccess(result) {
            $("#NewCommentBankModal").modal('hide');
            refreshTable("CommentBanks");
            toastr.success(result);
        }

        function newCommentBankFailure(result) {
            $("#NewCommentBankModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function editCommentBankSuccess(result) {
            $("#EditCommentBankModal").modal('hide');
            refreshTable("CommentBanks");
            toastr.success(result);
        }

        function editCommentBankFailure(result) {
            $("#EditCommentBankModal").modal('hide');
            toastr.error(result.responseJSON);
        }
    </script>

    <script type="text/xjsrender" id="commentBankNameTemplate">
        <div>
            ${Name}
        </div>
    </script>

    <script type="text/x-jsrender" id="commentBankActionsTemplate">
        <div>
            <button type='button' class='btn btn-link js-edit' data-bank-id="${Id}">
                Edit
            </button>

            <button type='button' class='btn btn-link js-delete' data-bank-id="${Id}">
                Delete
            </button>
        </div>
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}