<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPortal | @ViewData["Title"]</title>
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/lib/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>

    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/lib/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/skins/brand/brand.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/skins/aside/brand.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">

    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <h1 style="color: white;">MyPortal</h1>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler">
                <span></span>
            </button>
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler">
                <span></span>
            </button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler">
                <i class="flaticon-more"></i>
            </button>
        </div>
    </div>

    <!-- end:: Header Mobile -->

    <div class="kt-grid kt-grid--hor kt-grid--root">

        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <partial name="_Sidebar" />

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin:: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout">
                            
                        </div>
                    </div>

                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">

                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">

                                <!--use "kt-rounded" class for rounded avatar style-->
                                <div class="kt-header__topbar-user kt-rounded">
                                    <span class="kt-header__topbar-username kt-hidden-mobile">@User.Identity.Name</span>
                                    <img alt="Pic" src="~/lib/assets/media/users/default.jpg" class="kt-rounded-" />

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span>
                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
                                <ul class="kt-nav kt-margin-b-10">
                                    <li class="kt-nav__item">
                                        <a href="custom/profile/personal-information.html" class="kt-nav__link">
                                            <span class="kt-nav__link-icon">
                                                <i class="flaticon2-calendar-3"></i>
                                            </span>
                                            <span class="kt-nav__link-text">My Profile</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="custom/profile/overview-1.html" class="kt-nav__link">
                                            <span class="kt-nav__link-icon">
                                                <i class="flaticon2-browser-2"></i>
                                            </span>
                                            <span class="kt-nav__link-text">My Tasks</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="custom/profile/overview-2.html" class="kt-nav__link">
                                            <span class="kt-nav__link-icon">
                                                <i class="flaticon2-mail"></i>
                                            </span>
                                            <span class="kt-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="custom/profile/account-settings.html" class="kt-nav__link">
                                            <span class="kt-nav__link-icon">
                                                <i class="flaticon2-gear"></i>
                                            </span>
                                            <span class="kt-nav__link-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__separator kt-nav__separator--fit"></li>
                                    <li class="kt-nav__custom kt-space-between">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="btn btn-label-brand btn-upper btn-sm btn-bold">Log out</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--end: User Bar -->
                    </div>

            <!-- end:: Header Topbar -->
            </div>

            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                @RenderBody()
            </div>

<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            2020&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/keen" target="_blank" class="kt-link">MyPortal Ltd</a>
        </div>
        <div class="kt-footer__menu">
            <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
        </div>
    </div>
</div>

<!-- end:: Footer -->

</div>
<!-- end:: Wrapper -->
</div>
<!-- end:: Page -->
</div>
<!-- end:: Root -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#5d78ff",
                "metal": "#c4c5d6",
                "light": "#ffffff",
                "accent": "#00c5dc",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995",
                "focus": "#9816f4"
            },
            "base": {
                "label": [
                    "#c5cbe3",
                    "#a1a8c3",
                    "#3d4465",
                    "#3e4466"
                ],
                "shape": [
                    "#f0f3ff",
                    "#d9dffa",
                    "#afb4d4",
                    "#646c9a"
                ]
            }
        }
    };
</script>

<!-- end::Global Config -->
<!--begin::Global Theme Bundle(used by all pages) -->
<script src="~/lib/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
<script src="~/lib/assets/js/scripts.bundle.js" type="text/javascript"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js" type="text/javascript"></script>

<!--end::Page Scripts -->
<script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>