@using Microsoft.AspNet.Identity
@model MyPortal.ViewModels.StudentDetailsViewModel
@{
    ViewBag.Title = "Home: " + Model.Student.LastName + ", " + Model.Student.FirstName;
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="container float-left">
    <h2 class="mp-page-title">@Model.Student.LastName, @Model.Student.FirstName</h2>
    <hr/>
</div>

<body>  

<!--CARD CONTAINER-->
<div class="container float-left" id="container-2">
    <!--Student Details Card-->
    <div class="float-left" id="detailsDiv">

        <div class="card border-primary mp-card" id="detailsCard">

            <div class="card-header bg-primary">MyDetails</div>

            <div class="card-body">

                <!--Student Details Table-->
                <table class="table-condensed mp-table-condensed">
                    <tr>
                        <td>
                            <b>First Name</b>
                        </td>
                        <td>@Model.Student.FirstName</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Last Name</b>
                        </td>
                        <td>@Model.Student.LastName</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Year Group</b>
                        </td>
                        <td>@Model.Student.YearGroup.Name</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Reg Group</b>
                        </td>
                        <td>@Model.Student.RegGroup.Name</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Reg Tutor</b>
                        </td>
                        <td>@Model.Student.RegGroup.Staff.Title @Model.Student.RegGroup.Staff.FirstName.Substring(0, 1) @Model.Student.RegGroup.Staff.LastName</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Head of Year</b>
                        </td>
                        <td>@Model.Student.YearGroup.Staff.Title @Model.Student.YearGroup.Staff.FirstName.Substring(0, 1) @Model.Student.YearGroup.Staff.LastName</td>
                    </tr>
                </table>

            </div>

            <!--Student Details Footer (Account Balance)-->
            <div class="card-footer bg-transparent border-primary">

                <h5><b>Balance:</b> £@Model.Student.AccountBalance</h5>

            </div>
        </div>
    </div>

    <!-- MyResults Table Card -->
    <div class="float-left" id="resultsTableDiv">
        <div class="card border-primary mp-card" id="resultsTableCard">
            <div class="card-header bg-primary">MyResults</div>
            @if (!Model.Results.Any())
            {
                {
                    <text>
                        <div class="card-body">No results to display.</div></text>
                }
            }
            else
            {
                <table class="table table-condensed table-bordered mp-table" id="resultsTable">
                    <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Subject.Name</td>
                            <td>@result.Value</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>

<!-- MyLogs Panel -->
<div class="container float-left mp-margin-top">
    <div>
        <hr/>
        <h4 class="mp-bold">MyLogs</h4>
        <table class="table table-bordered mp-table mp-log-table" id="logs" data-student-id="@Model.Student.Id">
            <thead>
            <tr>
                <th>Date</th>
                <th>Author</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- MyDocuments Panel -->
<div class="container float-left mp-margin-top">
    <div>
        <hr/>
        <h4 class="mp-bold">MyDocuments</h4>
        <table class="table table-bordered mp-table mp-document-table mp-table-link" id="documents" data-student-id="@Model.Student.Id">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>

@section scripts
{
    <script>
        //Script run when page loads
        $(document).ready(function() {
            $("#logs").DataTable({
                    ajax: {
                        url: "/api/logs/" + $("#logs").attr("data-student-id"),
                        dataSrc: "",
                        method: "GET"
                    },
                    columns: [
                        {
                            data: "date",
                            render: function(data) {
                                var date = new Date(data);
                                return date.toLocaleDateString();
                            }

                        },
                        {
                            data: "staff.lastName",
                            render: function(data, type, log) {
                                return log.staff.title +
                                    " " +
                                    log.staff.firstName.substring(0, 1) +
                                    " " +
                                    log.staff.lastName;
                            }
                        },
                        {
                            data: "logType.name"
                        },
                        {
                            data: "message"
                        }
                    ],
                    paging: false,
                    ordering: false,
                    searching: false,
                    info: false,
                    "createdRow": function(row, data, dataIndex) {
                        if (data.logType.name === "Academic Support") {
                            $(row).addClass("mp-log-academic-support");
                        }

                        if (data.logType.name === "Behaviour Log") {
                            $(row).addClass("mp-log-behaviour");
                        }

                        if (data.logType.name === "EOY Report") {
                            $(row).addClass("mp-log-eoy");
                        }

                        if (data.logType.name === "Praise") {
                            $(row).addClass("mp-log-praise");
                        }

                        if (data.logType.name === "SEN Note") {
                            $(row).addClass("mp-log-sen");
                        }

                        if (data.logType.name === "Student Feed") {
                            $(row).addClass("mp-log-student-feed");
                        }

                        if (data.logType.name === "Tutor Note") {
                            $(row).addClass("mp-log-tutor-note");
                        }

                        if (data.logType.name === "Medical Event") {
                            $(row).addClass("mp-log-medical-event");
                        }
                    },
                    "language": {
                        "emptyTable": "No logs to display"
                    }
                });
             
            $("#documents").DataTable({
                    ajax: {
                        url: "/api/students/documents/fetch/" + $("#documents").attr("data-student-id"),
                        dataSrc: "",
                        method: "GET"
                    },
                    columns: [
                        {
                            data: "document.description",
                            render: function (data, type, document) {
                                return "<a href='" +
                                    document.document.url +
                                    "' target='_blank'>" +
                                    document.document.description +
                                    "</a>";
                            }

                        },
                        {
                            data: "document.date",
                            render: function(data) {
                                var date = new Date(data);
                                return date.toLocaleDateString();
                            }
                        }
                    ],
                    paging: false,
                    ordering: false,
                    searching: false,
                    info: false,
                    "language": {
                        "emptyTable": "No documents to display"
                    }
                });
        });
    </script>

    @Scripts.Render("~/bundles/students")
}