@using Microsoft.AspNet.Identity
@model MyPortal.ViewModels.StudentDetailsViewModel
@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<h2>@Model.Student.LastName, @Model.Student.FirstName</h2>

<hr />

<body>
    <!-- MyDetails Panel -->
    <div class="container" id="Details">
        <div style="float: left;">
            <div class="panel panel-primary" style="width: 300px; margin-top: 8px;">
                <div class="panel-heading">MyDetails</div>
                <div class="panel-body">
                    <table class="table-condensed">
                        <tr>
                            <td><b>First Name</b></td>
                            <td>@Model.Student.FirstName</td>
                        </tr>
                        <tr>
                            <td><b>Last Name</b></td>
                            <td>@Model.Student.LastName</td>
                        </tr>
                        <tr>
                            <td><b>Year Group</b></td>
                            <td>@Model.Student.YearGroup1.Name</td>
                        </tr>
                        <tr>
                            <td><b>Reg Group</b></td>
                            <td>@Model.Student.RegGroup1.Name</td>
                        </tr>
                        <tr>
                            <td><b>Reg Tutor</b></td>
                            <td>@Model.Student.RegGroup1.Staff.Title @Model.Student.RegGroup1.Staff.FirstName.Substring(0, 1) @Model.Student.RegGroup1.Staff.LastName</td>
                        </tr>
                        <tr>
                            <td><b>Head of Year</b></td>
                            <td>@Model.Student.YearGroup1.Staff.Title @Model.Student.YearGroup1.Staff.FirstName.Substring(0, 1) @Model.Student.YearGroup1.Staff.LastName</td>
                        </tr>
                    </table>
                    <hr />
                    <h4><b>Balance:</b> £@Model.Student.AccountBalance</h4>
                </div>
            </div>
        </div>

        <!-- MyResults Panel -->
        <div style="float: left; margin-left: 20px;" id="Results">
            <div class="panel panel-primary" style="width: 300px; margin-top: 8px;">
                <div class="panel-heading">MyResults</div>
                @if (!Model.Results.Any())
                {
                    {<text><div class="panel-body">No results to display.</div></text>}
            }
            else
            {
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr style="background-color: #18bc9c">
                            <th style="color: whitesmoke">Subject</th>
                            <th style="color: whitesmoke">Result</th>
                        </tr>
                    </thead>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Subject1.Name</td>
                            <td>@result.Value</td>
                        </tr>
                    }
                </table>
            }
            </div>
        </div>

        <!-- MyResults Chart Panel -->
        <div style="float: left; margin-left: 20px;" id="Chart">
            <div class="panel panel-primary" style="width: 300px; margin-top: 8px;">
                <div class="panel-heading">MyResults - Chart</div>
                <div class="panel-body">
                    @if (!Model.Results.Any())
                    {
                        <text>No data to display.</text>
                    }
                    else
                    {
                        <canvas id="resultsChart" style="width: 300px; height: 300px;"></canvas>

                        <script>
                        var ctx = document.getElementById('resultsChart').getContext('2d');
                        var chart = new Chart(ctx,
                            {
                                // The type of chart we want to create
                                type: 'bar',
                                fillOpacity: .3,
                                // The data for our dataset
                                data: {
                                    @if (Model.IsUpperSchool == true)
                                    {
                                        <text>labels: ["A*", "A", "B", "C", "D", "E", "F", "G", "U"],</text>
                                    }
                                    else
                                    {
                                        <text>labels: ["E", "8", "7", "6", "5", "4", "3", "2", "1"],</text>
                                    }
                                    datasets: [
                                        {
                                            label: "",
                                            backgroundColor: [
                                                "rgba(255,0,0,0.5)", //L1
                                                "rgba(255,127,0,0.5)", //L2
                                                "rgba(255,255,0,0.5)", //L3
                                                "rgba(0,255,0,0.5)", //L4
                                                "rgba(0,0,255,0.5)", //L5
                                                "rgba(75,0,130,0.5)", //L6
                                                "rgba(148,0,211,0.5)", //L7
                                                "rgba(228,35,157,0.5)", //L8
                                                "rgba(0,0,0,0.5)"
                                            ], //L9
                                            borderColor: [
                                                "rgba(255,0,0,0.5)", //L1
                                                "rgba(255,127,0,0.5)", //L2
                                                "rgba(255,255,0,0.5)", //L3
                                                "rgba(0,255,0,0.5)", //L4
                                                "rgba(0,0,255,0.5)", //L5
                                                "rgba(75,0,130,0.5)", //L6
                                                "rgba(148,0,211,0.5)", //L7
                                                "rgba(228,35,157,0.5)", //L8
                                                "rgba(0,0,0,0.5)"
                                            ], //L9
                                            data: [
                                                @Model.ChartData.L1,
                                                @Model.ChartData.L2,
                                                @Model.ChartData.L3,
                                                @Model.ChartData.L4,
                                                @Model.ChartData.L5,
                                                @Model.ChartData.L6,
                                                @Model.ChartData.L7,
                                                @Model.ChartData.L8,
                                                @Model.ChartData.L9
                                            ]
                                        }
                                    ]
                                },

                                // Configuration options go here
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    scales: {
                                        yAxes: [
                                            {
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }
                                        ]
                                    }
                                }
                            });
                        </script>

                    }
                </div>
            </div>
        </div>
    </div>

    <!-- MyLogs Panel -->
    <div class="container">
        <div>
            <div class="panel panel-primary" style="width: 1000px; margin-top: 8px;" id="LogsPanel">
                <div class="panel-heading">MyLogs</div>
                <table class="table table-bordered" id="logs" data-student-id="@Model.Student.Id">
                    <thead>
                        <tr style="background-color: #18bc9c;">
                            <th style="color: whitesmoke;">Date</th>
                            <th style="color: whitesmoke;">Author</th>
                            <th style="color: whitesmoke;">Type</th>
                            <th style="color: whitesmoke;">Message</th>
                        </tr>
                    </thead>
                </table>            
            </div>
        </div>
    </div>

</body>

@section scripts
{
    <script>
        //Script run when page loads
        $(document).ready(function () {       
            function loadLogTable() {
                var logsTable = $("#logs");
                $("#logs").DataTable({
                    ajax: {
                        url: "/api/logs/" + logsTable.attr("data-student-id"),
                        dataSrc: "",
                        method: "GET"
                    },
                    columns: [
                        {
                            data: "date",
                            render: function (data) {
                                var date = new Date(data);
                                return date.toLocaleDateString();
                            }

                        },
                        {
                            data: "staff.lastName",
                            render: function (data, type, log) {
                                return log.staff.title +
                                    " " +
                                    log.staff.firstName.substring(0, 1) +
                                    " " +
                                    log.staff.lastName;
                            }
                        },
                        {
                            data: "logType.name"
                        },
                        {
                            data: "message"
                        }
                    ],
                    paging: false,
                    ordering: false,
                    searching: false,
                    info: false,
                    "createdRow": function (row, data, dataIndex) {
                        if (data.logType.name == "Academic Support") {
                            $(row).addClass("logAcademicSupport");
                        }

                        if (data.logType.name == "Behaviour Log") {
                            $(row).addClass("logBehaviour");
                        }

                        if (data.logType.name == "EOY Report") {
                            $(row).addClass("logEoy");
                        }

                        if (data.logType.name == "Praise") {
                            $(row).addClass("logPraise");
                        }

                        if (data.logType.name == "SEN Note") {
                            $(row).addClass("logSen");
                        }

                        if (data.logType.name == "Student Feed") {
                            $(row).addClass("logStudent");
                        }

                        if (data.logType.name == "Tutor Note") {
                            $(row).addClass("logTutor");
                        }
                    }
                });
            }

            loadLogTable();
        });
    </script>

    @Scripts.Render("~/bundles/students")
}


