@model MyPortal.ViewModels.StudentResultsViewModel
@{
    ViewBag.Title = "MyResults";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>MyResults - @Model.Student.LastName, @Model.Student.FirstName</h2>

<hr />

<div class="container">
    <div>
        @Html.DropDownList("SelectedResultSet", new SelectList(Model.ResultSets, "Id", "Name", Model.CurrentResultSetId), new { @class = "form-control", Name = "ResultSet", id = "selectedResultSet" })
        <div class="panel panel-primary" style="max-width: 1000px; margin-top: 8px;" id="ResultsPanel">
            <div class="panel-heading">MyResults</div>
            <table class="table table-bordered" id="results" data-student-id="@Model.Student.Id">
                <thead>
                    <tr style="background-color: #18bc9c;">
                        <th style="color: whitesmoke;">Subject</th>
                        <th style="color: whitesmoke;">Result</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var student = $("#results").attr("data-student-id");

            var resultset = $("#selectedResultSet").val();

            $("#results").DataTable({
                ajax: {
                    url: "/api/results/fetch",
                    data: {
                        'student': student,
                        'resultset': resultset
                    },
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "subject1.name"
                    },
                    {
                        data: "value"
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false
            });

            $("#selectedResultSet").on("change", function () {
                $("#results").DataTable().destroy();
                var resultset = $("#selectedResultSet").val();
                $("#results").DataTable({
                    ajax: {
                        url: "/api/results/fetch",
                        data: {
                            'student': student,
                            'resultset': resultset
                        },
                        dataSrc: "",
                        method: "GET"
                    },
                    columns: [
                        {
                            data: "subject1.name"
                        },
                        {
                            data: "value"
                        }
                    ],
                    paging: false,
                    ordering: false,
                    searching: false,
                    info: false,
                    "language": {
                        "emptyTable": "No results to display"
                    }
                });
            });


            //New Result Submit
            $("#NewResultForm").on("submit",
                function (e) {
                    var form = $("#NewResultForm");

                    e.preventDefault();

                    $.ajax({
                        url: "/api/results/new",
                        data: form.serialize(),
                        method: "POST",
                        success: function () {
                            toastr.success("Result added");
                            $("#NewResultModal").modal('toggle');
                        },
                        error: function () {
                            toastr.error("Result could not be added");
                        }
                    });
                });
        });
    </script>

    @Scripts.Render("~/bundles/staff")
    @Scripts.Render("~/bundles/jqueryval")
}

