@using MyPortal.Logic.Constants
@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentSearchViewModel

@{
    ViewBag.Title = "Student Search";
}

<!-- Header -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"><i class="fas fa-user-graduate mr-2"></i>Students</h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="" class="kt-subheader__breadcrumbs-link">Students</a>
            </div>
        </div>
    </div>
</div>

<!-- Main Container -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">							
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Search											
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <button class="btn btn-brand btn-sm"><i class="fas fa-plus mr-2"></i>New Student</button>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        @Html.DropDownList("searchType", new SelectList(Model.SearchTypes, "Value", "Key", SearchFilters.Students.OnRoll), new { @class = "form-control form-control-sm", id = "statusSearch" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <div>
                                    <input type="text" class="form-control form-control-sm" placeholder="First Name" id="firstNameSearch">
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <div>
                                    <input type="text" class="form-control form-control-sm" placeholder="Last Name" id="lastNameSearch">
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Gender:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        @Html.DropDownList("gender", new SelectList(Model.GenderOptions, "Value", "Key"), "Any", new { @class = "form-control form-control-sm", id = "genderSearch" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <button class="btn btn-brand btn-sm" id="searchButton"><i class="fas fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
        

        <!--Table Template-->
        <div class="kt-portlet__body d-none" id="searchResults">
            <div class="row">
                <div class="col-md-12">
                    <table id="student_search" class="table table-striped font-weight-500">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Reg Group
                            </th>
                            <th>
                                Year Group
                            </th>
                            <th>
                                House
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        var urlSearchStudents = "@Url.RouteUrl("ApiStudentSearch")";
        var urlStudentOverview =
            "@Url.Action("StudentOverview", "Student", new {area = "Staff", studentId = Guid.Empty})";

        $(document).ready(function() {
            $("#searchButton").on("click",
                function() {
                    searchStudents();
                });

            $("#firstNameSearch").on("keyup",
                function(e) {
                    if (e.which == 13) {
                        searchStudents();
                    }
                });

            $("#lastNameSearch").on("keyup",
                function(e) {
                    if (e.which == 13) {
                        searchStudents();
                    }
                });
        });

        function searchStudents() {

            // Get params from form
            var searchType = $("#statusSearch").val();
            var firstName = $("#firstNameSearch").val();
            var lastName = $("#lastNameSearch").val();
            var gender = $("#genderSearch").val();

            var params = { searchType: searchType, firstName: firstName, lastName: lastName, gender: gender };

            var url = `${urlSearchStudents}?${$.param(params)}`;

            if ($("#student_search").hasClass("dataTable")) {
                var table = $("#student_search").DataTable();

                table.ajax.url(url);

                table.ajax.reload();
            } else {
                loadDataTable(url);
                $("#searchResults").removeClass("d-none");
            }
        }

        function getOverviewUrl(studentId) {
            return urlStudentOverview.replace("@Guid.Empty", studentId);
        }

        function renderGender(gender) {
            if (gender === "M") {
                return `<div class="kt-badge kt-badge--pill kt-badge--inline" style="background-color: #005ec9; color: white;">Male</div>`;
            } else if (gender === "F") {
                return `<div class="kt-badge kt-badge--pill kt-badge--inline" style="background-color: #ba0098; color: white;">Female</div>`;
            } else if (gender === "X") {
                return `<div class="kt-badge kt-badge--pill kt-badge--inline" style="background-color: #0abf00; color: white;">Other</div>`;
            } else {
                return `<div class="kt-badge kt-badge--pill kt-badge--inline" style="background-color: #5e5e5e; color: white;">Unknown</div>`;
            }
        }

        //Execute ONCE -- Use searchStudents() to update AJAX URL
        function loadDataTable(url) {
            $("#student_search").DataTable({
                ajax:
                {
                    url: url,
                    dataSrc: ""
                },
                "dom": "rtilp",
                columns: [
                    {
                        data: "displayName",
                        render: function(data, type, student) {
                            var overviewUrl = getOverviewUrl(student.id);
                            return `<div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><div class="kt-badge kt-badge--xl kt-badge--info"><i class="fas fa-fw fa-user-graduate"></i></div></div><div class="kt-user-card-v2__details"><a href="${
                                overviewUrl}">${student.displayName}</a></div></div>`;
                        }
                    },
                    {
                        data: "gender",
                        render: function(data, type, student) {
                            return renderGender(student.gender);
                        }
                    },
                    {
                        data: "regGroupName"
                    },
                    {
                        data: "yearGroupName"
                    },
                    {
                        data: "houseName"
                    }
                ],
                "language":
                {
                    "emptyTable": "No students"
                }
            });
        }


    </script>
}



