@using Microsoft.CodeAnalysis.CSharp.Syntax
@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentOverviewViewModel
@{
    ViewBag.Title = "Student Overview";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<!--Header-->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <i class="fas fa-user-graduate mr-2"></i>Student Overview
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    @Model.Student.Person.GetDisplayName()
                </span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            
        </div>
    </div>
</div>


<!--Content-->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
<!--Begin::App-->
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
<!--Begin:: App Aside Mobile Toggle-->
<button class="kt-app__aside-close" id="kt_user_profile_aside_close">
    <i class="la la-close"></i>
</button>
<!--End:: App Aside Mobile Toggle-->

<partial name="_StudentProfileSideBar" />

<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
    <div class="row">
        <div class="col-xl-6">
            <!--begin:: Quick Glance-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Quick Glance
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="kt-widget12">
                        <div class="kt-widget12__content">
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Achievement Points</span>
                                    <span class="kt-widget12__value">@Model.AchievementPoints</span>
                                </div>

                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Behaviour Points</span>
                                    <span class="kt-widget12__value">@Model.BehaviourPoints</span>
                                </div>
                            </div>
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Attendance (Present + AEA)</span>
                                    @if (Model.Attendance == null)
                                    {
                                        <span class="kt-widget12__value">N/A</span>
                                    }
                                    else
                                    {
                                        <span class="kt-widget12__value">@Model.Attendance.Value.ToString("##.0")%</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Quick Glance-->
        </div>
        <div class="col-xl-6">
            <!--begin:: Tasks -->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Tasks
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <btn type="button" class="btn btn-brand btn-bold btn-sm">
                            <i class="fas fa-plus mr-2"></i>New Task
                        </btn>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    @if (false)
                    {

                    }
                    else
                    {
                        <h6 class="font-weight-500">No Tasks</h6>
                    }
                </div>
            </div>
            <!--end:: Tasks -->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <!--begin:: Log Notes-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Log Notes
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <btn type="button" class="btn btn-brand btn-bold btn-sm" id="new_lognote_button">
                            <i class="fas fa-plus mr-2"></i>New Log Note
                        </btn>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-notes">
                        <div class="kt-notes__items">
                            @if (@Model.LogNotes != null && Model.LogNotes.Any())
                            {
                                @foreach (var logNote in @Model.LogNotes)
                                {
                                    <div class="kt-notes__item">
                                        <div class="kt-notes__media">
                                            <span class="kt-notes__icon">
                                                <i class="fas @logNote.LogTypeIcon" style="color: @logNote.LogTypeColourCode;"></i>
                                            </span>
                                        </div>
                                        <div class="kt-notes__content">
                                            <div class="kt-notes__section">
                                                <div class="kt-notes__info">
                                                    <span class="kt-notes__title">
                                                        @logNote.AuthorName
                                                    </span>
                                                    <span class="kt-notes__desc">
                                                        @logNote.CreatedDate.ToString("dd MMM yyyy")
                                                    </span>
                                                    <span class="kt-badge kt-badge--inline" style="background-color: @logNote.LogTypeColourCode; color: white;">@logNote.LogTypeName</span>
                                                </div>
                                                <div class="kt-notes__dropdown">
                                                    <a href="#" class="btn btn-sm btn-icon-md btn-icon" data-toggle="dropdown">
                                                        <i class="flaticon-more-1 kt-font-brand"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul class="kt-nav">
                                                            <li class="kt-nav__item">
                                                                <btn class="kt-nav__link btn-lognote-edit" data-object-id="@logNote.Id">
                                                                    <i class="kt-nav__link-icon fas fa-edit"></i>
                                                                    <span class="kt-nav__link-text">Edit</span>
                                                                </btn>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <btn class="kt-nav__link btn-lognote-delete" data-object-id="@logNote.Id">
                                                                    <i class="kt-nav__link-icon fas fa-trash"></i>
                                                                    <span class="kt-nav__link-text">Delete</span>
                                                                </btn>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="kt-notes__body">
                                                <pre>@logNote.Message</pre>
                                            </span>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h6 class="font-weight-500">No Log Notes</h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Log Notes-->
        </div>
        <div class="col-xl-6">
            <!--begin:: Widgets/Notifications-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Blank Portlet
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">

                </div>
            </div>
            <!--end:: Widgets/Notifications-->
        </div>
    </div>
</div>
<!--End:: App Content-->
</div>
<!--End::App-->

<div class="modal fade" id="lognote_modal" tabindex="-1" role="dialog" aria-labelledby="lognote_modal_title" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lognote_modal_title">Log Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="lognote_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lognote_type">Log Note Type</label>
                        <select asp-for="LogNote.TypeId" asp-items="Model.LogNoteTypes" name="TypeId" class="form-control" id="lognote_type"></select>
                        @Html.ValidationMessageFor(x => x.LogNote.TypeId, null, new{data_valmsg_for="TypeId", @class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label for="lognote_message">Message</label>
                        <textarea asp-for="LogNote.Message" class="form-control" id="lognote_message" name="Message" rows="10"></textarea>
                        @Html.ValidationMessageFor(x => x.LogNote.Message, null, new{data_valmsg_for="Message", @class="text-danger"})
                    </div>
                    
                    <input type="hidden" name="StudentId" id="lognote_studentid" />
                    <input type="hidden" name="Id" id="lognote_id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="lognote_save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

@section Scripts
{
    <script>

        var urlGetLogNoteById = "@Url.Action("GetById", "LogNote")";

        var urlUpdateLogNote = "@Url.Action("Update", "LogNote")";

        var urlCreateLogNote = "@Url.Action("Create", "LogNote")";

        var urlDeleteLogNote = "@Url.Action("Delete", "LogNote")";

        $(document).ready(function () {

            $("#studentOverviewLink").addClass("kt-widget__item--active");

            $("#new_lognote_button").on("click",
                function() {
                    openLogNoteForm(false);
                });

            $("#lognote_save").on("click",
                function() {
                    submitLogNoteForm();
                });

            $(".btn-lognote-edit").on("click",
                function() {
                    var logNoteId = $(this).attr("data-object-id");

                    openLogNoteForm(true, logNoteId);
                });

            $(".btn-lognote-delete").on("click",
                function() {
                    var logNoteId = $(this).attr("data-object-id");

                    deleteLogNote(logNoteId);
                });

            $("#lognote_form").validate().settings.errorClass = "is-invalid";
            $("#lognote_form").validate().settings.validClass = "is-valid";
        });

        function openLogNoteForm(editMode, logNoteId) {
            if (editMode) {
                $("#lognote_modal").addClass("edit-mode");

                $("#lognote_id").removeAttr("disabled");

                $("#lognote_modal_title").text("Edit Log Note");

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: `${urlGetLogNoteById}?logNoteId=${logNoteId}`,
                    success: function(data) {
                        $("#lognote_type").val(data["typeId"]);
                        $("#lognote_message").val(data["message"]);
                        $("#lognote_id").val(data["id"]);
                    },
                    error: function(data) {
                        toastr.error(data.responseJSON);
                    }
                });

            } else {
                $("#lognote_modal").removeClass("edit-mode");

                $("#lognote_id").attr("disabled", "true");

                $("#lognote_modal_title").text("New Log Note");
            }

            $("#lognote_studentid").val("@Model.Student.Id");
            $("#lognote_modal").modal('show');
        }

        function deleteLogNote(logNoteId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Are you sure you want to delete this log note? This cannot be undone.",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url: `${urlDeleteLogNote}?logNoteId=${logNoteId}`,
                        success: function(e) {
                            logNoteSuccess(e);
                        },
                        error: function (e) {
                            logNoteFailure(e);
                        }
                    });
                }
            });
        }

        function submitLogNoteForm() {

            if ($("#lognote_form").valid()) {
                if ($("#lognote_modal").hasClass("edit-mode")) {
                    $.ajax({
                        type: "PUT",
                        url: urlUpdateLogNote,
                        data: $("#lognote_form").serialize(),
                        success: function (e) {
                            $("#lognote_modal").modal('hide');
                            logNoteSuccess(e);
                        },
                        error: function (e) {
                            logNoteFailure(e);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: urlCreateLogNote,
                        data: $("#lognote_form").serialize(),
                        success: function (e) {
                            $("#lognote_modal").modal('hide');
                            logNoteSuccess(e);
                        },
                        error: function (e) {
                            logNoteFailure(e);
                        }
                    });
                }
            }
        }

        function logNoteSuccess(e) {
            Swal.fire({
                title: "Success",
                text: e,
                type: "success"
            }).then(function() {
                //Reload log notes
                location.reload();
            });
        }

        function logNoteFailure(e) {
            Swal.fire({
                title: "Error",
                text: e.responseText,
                type: "error"
            });
        }
    </script>
    
    <script src="~/js/modals.js"></script>
}