@model MyPortal.ViewModels.ClassEnrolmentsViewModel
@{
    ViewBag.Title = "Enrolments";
    ViewBag.DisplayTitle = "Class Enrolments";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Students in @Model.Class.Name</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">

        <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#newEnrolIndModal">Add Student</button>
        <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#newEnrolGroupModal">Add Group</button>

    </div>

</div>

<div class="row">
    
    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Students</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Enrolments").DataSource(d =>
                {
                    d.Url(Url.HttpRouteUrl("ApiCurriculumGetEnrolmentsByClassDataGrid", new {classId = Model.Class.Id})).CrossDomain(false).Adaptor("UrlAdaptor");
                }).Columns(c =>
                {
                    c.Field("StudentName").HeaderText("Student").Template("#enrolmentsStudentTemplate").Width("150").Add();
                    c.HeaderText("Actions").Template("#enrolmentsActionsTemplate").Width("200").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string>() { "Search" }).Render()
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">

        <button type="button" class="btn btn-primary" id="backButton">Back</button>

    </div>

</div>

<div id="newEnrolIndModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enrol Student</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = Url.HttpRouteUrl("ApiCurriculumCreateEnrolment", new {}), HttpMethod = "POST", OnSuccess = "newEnrolIndSuccess", OnFailure = "newEnrolIndFailure" }, new { id = "newEnrolmentForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Year Group</label>
                        <select class="form-control" id="yearGroupSelect"></select>
                    </div>
                    <div class="form-group" id="selectStudentArea">
                        <label class="d-none" id="studentLabel">Student</label>
                        <select class="form-control disabled d-none" id="studentSelect" name="StudentId"></select>
                    </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.Class.Id, new {Name = "ClassId"})
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="newEnrolGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enrol Group</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = Url.HttpRouteUrl("ApiCurriculumEnrolRegGroup", new {}), HttpMethod = "POST", OnSuccess = "newEnrolGroupSuccess", OnFailure = "newEnrolGroupFailure" }, new { id = "newEnrolmentForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reg Group</label>
                        <select class="form-control" id="regGroupSelect" name="GroupId"></select>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.Class.Id, new {Name = "ClassId"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>

        var urlGetAllYearGroups = "@Url.HttpRouteUrl("ApiPastoralGetAllYearGroups", new {})";
        var urlGetAllRegGroups = "@Url.HttpRouteUrl("ApiPastoralGetAllRegGroups", new {})";
        var urlGetStudentsByYearGroup =
            "@Url.HttpRouteUrl("ApiPeopleGetStudentsByYearGroup", new {yearGroupId = 9999})";
        var urlDeleteEnrolment = "@Url.HttpRouteUrl("ApiCurriculumDeleteEnrolment", new {enrolmentId = 9999})";

        $(document).ready(function() {
            
            $('.modal').on('hidden.bs.modal',
                function () {
                    $(this).find('form').trigger('reset');
                });

            $("#newEnrolIndModal").on('hidden.bs.modal',
                function() {
                    resetIndForm();
                });

            $("#backButton").on("click",
                function () {
                    location.replace("@Url.Action("Classes", "Staff")");
                });

            $.ajax({
                url: urlGetAllYearGroups,
                method: "GET",
                complete: function (data) {
                    $("#yearGroupSelect").empty();
                    $(data.responseJSON).each(function (i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#yearGroupSelect');
                    });
                    $("#yearGroupSelect").val("");
                }
            });

            $.ajax({
                url: urlGetAllRegGroups,
                method: "GET",
                complete: function (data) {
                    $("#regGroupSelect").empty();
                    $(data.responseJSON).each(function (i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#regGroupSelect');
                    });
                    $("#regGroupSelect").val("");
                }
            });

            $("#yearGroupSelect").on("change",
                function () {
                    if ($("#yearGroupSelect").val() !== "") {
                        $.ajax({
                            url: urlGetStudentsByYearGroup.replace("9999", $("#yearGroupSelect").val()),
                            method: "GET",
                            complete: function (data) {
                                $("#studentSelect").empty();
                                $(data.responseJSON).each(function (i, student) {
                                    var divData = "<option value=" +
                                        data.responseJSON[i].id +
                                        ">" +
                                        data.responseJSON[i].person.lastName +
                                        ", " +
                                        data.responseJSON[i].person.firstName +
                                        "</option>";
                                    $(divData).appendTo('#studentSelect');
                                });
                                $("#studentSelect").val("");
                            }
                        });
                        $("#studentSelect").removeClass("d-none");
                        $("#studentSelect").removeClass("disabled");
                        $("#studentLabel").removeClass("d-none");
                    }
                });            

            $("#Enrolments").on("click",
                ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to remove this student from the class?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: urlDeleteEnrolment.replace("9999", button.attr("data-enrolment-id")),
                                    method: "DELETE",
                                    success: function (a) {
                                        $("#enrolments").DataTable().ajax.reload();
                                        toastr.success(a);
                                    },
                                    error: function (e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });
        });

        function newEnrolIndSuccess(result) {
            $("#newEnrolIndModal").modal('hide');
            refreshTable("Enrolments");
            toastr.success(result);
        }

        function newEnrolIndFailure(result) {
            $("#newEnrolIndModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function newEnrolGroupSuccess(result) {
            $("#newEnrolGroupModal").modal('hide');
            refreshTable("Enrolments");
            toastr.success(result);
        }

        function newEnrolGroupFailure(result) {
            $("#newEnrolGroupModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function resetIndForm() {
            $("#studentSelect").val("");
            $("#studentLabel").addClass("d-none");
            $("#studentSelect").addClass("d-none");
            $("#studentSelect").addClass("disabled");
            $("#yearGroupSelect").val("");
        }

        function resetGroupForm() {
            $("#regGroupSelect").val("");
        }
    </script>

    <script type="text/x-jsrender" id="enrolmentsStudentTemplate">
        <div>
            ${StudentName}
        </div>
    </script>

    <script type="text/x-jsrender" id="enrolmentsActionsTemplate">
        <div>
            <button type='button' class='btn btn-xs btn-danger mp-btn-action-right js-delete' data-enrolment-id="${Id}">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </script>
}

