@model MyPortal.ViewModels.ClassEnrolmentsViewModel
@{
    ViewBag.Title = "Enrolments";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container">
    <h2 class="mp-page-title">Students in @Model.Class.Name</h2>
    <hr />
</div>

<div class="container">
    @if (User.IsInRole("SeniorStaff"))
    {
        <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#newEnrolIndModal">Add Student</button>
        <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#newEnrolGroupModal">Add Group</button>
        <hr />
    }
</div>

<div class="container">
    @Html.EJS().Grid("Enrolments").DataSource(d =>
    {
        d.Url($"/api/curriculum/enrolments/get/byClass/dataGrid/{Model.Class.Id}").CrossDomain(false).Adaptor("UrlAdaptor");
    }).Columns(c =>
    {
        c.Field("StudentName").HeaderText("Student").Template("#enrolmentsStudentTemplate").Width("150").Add();
        c.HeaderText("Actions").Template("#enrolmentsActionsTemplate").Width("200").Add();
    }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string>() { "Search" }).Render()
</div>

<button type="button" class="btn btn-primary" id="backButton">Back</button>

<div id="newEnrolIndModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Period for Class</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/curriculum/classes/enrolments/create", HttpMethod = "POST", OnSuccess = "newEnrolIndSuccess", OnFailure = "newEnrolIndFailure" }, new { id = "newEnrolmentForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Year Group</label>
                        <select class="form-control" id="yearGroupSelect"></select>
                    </div>
                    <div class="form-group" id="selectStudentArea">
                        <label class="d-none" id="studentLabel">Student</label>
                        <select class="form-control disabled d-none" id="studentSelect" name="StudentId"></select>
                    </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.Class.Id, new {Name = "ClassId"})
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="newEnrolGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Period for Class</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/curriculum/classes/enrolments/create/group", HttpMethod = "POST", OnSuccess = "newEnrolGroupSuccess", OnFailure = "newEnrolGroupFailure" }, new { id = "newEnrolmentForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reg Group</label>
                        <select class="form-control" id="regGroupSelect" name="GroupId"></select>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.Class.Id, new {Name = "ClassId"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            
            $('.modal').on('hidden.bs.modal',
                function () {
                    $(this).find('form').trigger('reset');
                });

            $("#newEnrolIndModal").on('hidden.bs.modal',
                function() {
                    resetIndForm();
                });

            $("#backButton").on("click",
                function () {
                    location.replace("@Url.Action("Classes", "Staff")");
                });

            $.ajax({
                url: "/api/pastoral/yearGroups/get/all",
                method: "GET",
                complete: function (data) {
                    $("#yearGroupSelect").empty();
                    $(data.responseJSON).each(function (i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#yearGroupSelect');
                    });
                    $("#yearGroupSelect").val("");
                }
            });

            $.ajax({
                url: "/api/pastoral/regGroups/get/all",
                method: "GET",
                complete: function (data) {
                    $("#regGroupSelect").empty();
                    $(data.responseJSON).each(function (i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#regGroupSelect');
                    });
                    $("#regGroupSelect").val("");
                }
            });

            $("#yearGroupSelect").on("change",
                function () {
                    if ($("#yearGroupSelect").val() !== "") {
                        $.ajax({
                            url: "/api/people/students/get/byYearGroup/" + $("#yearGroupSelect").val(),
                            method: "GET",
                            complete: function (data) {
                                $("#studentSelect").empty();
                                $(data.responseJSON).each(function (i, student) {
                                    var divData = "<option value=" +
                                        data.responseJSON[i].id +
                                        ">" +
                                        data.responseJSON[i].person.lastName +
                                        ", " +
                                        data.responseJSON[i].person.firstName +
                                        "</option>";
                                    $(divData).appendTo('#studentSelect');
                                });
                                $("#studentSelect").val("");
                            }
                        });
                        $("#studentSelect").removeClass("d-none");
                        $("#studentSelect").removeClass("disabled");
                        $("#studentLabel").removeClass("d-none");
                    }
                });            

            $("#Enrolments").on("click",
                ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to remove this student from the class?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/curriculum/classes/enrolments/delete/" + button.attr("data-enrolment-id"),
                                    method: "DELETE",
                                    success: function (a) {
                                        $("#enrolments").DataTable().ajax.reload();
                                        toastr.success(a);
                                    },
                                    error: function (e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });
        });

        function newEnrolIndSuccess(result) {
            $("#newEnrolIndModal").modal('hide');
            refreshTable("Enrolments");
            toastr.success(result);
        }

        function newEnrolIndFailure(result) {
            $("#newEnrolIndModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function newEnrolGroupSuccess(result) {
            $("#newEnrolGroupModal").modal('hide');
            refreshTable("Enrolments");
            toastr.success(result);
        }

        function newEnrolGroupFailure(result) {
            $("#newEnrolGroupModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function resetIndForm() {
            $("#studentSelect").val("");
            $("#studentLabel").addClass("d-none");
            $("#studentSelect").addClass("d-none");
            $("#studentSelect").addClass("disabled");
            $("#yearGroupSelect").val("");
        }

        function resetGroupForm() {
            $("#regGroupSelect").val("");
        }
    </script>

    <script type="text/x-jsrender" id="enrolmentsStudentTemplate">
        <div>
            ${StudentName}
        </div>
    </script>

    <script type="text/x-jsrender" id="enrolmentsActionsTemplate">
        <div>
            <button type='button' class='btn btn-xs btn-danger mp-btn-action-right js-delete' data-enrolment-id="${Id}">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </script>
}

