@model MyPortal.Areas.Staff.ViewModels.NewUserViewModel
@{
    ViewBag.Title = "New User";
    ViewBag.DisplayTitle = "New User";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New User</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiCreateUser", new {}), HttpMethod = "POST", OnSuccess = "newUserSuccess", OnFailure = "newUserFailure"}, new {id = "newUserForm"}))
            {
                <div class="mb-4">
                    <button type="button" class="btn btn-sm btn-primary" id="backButton"><i class="fas fa-arrow-left"></i> Back</button>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-cloud-upload-alt"></i> Save</button>
                </div>

                <div class="form-group">
                    @Html.Label("Username")
                    @Html.TextBoxFor(x => x.Username, new {@class = "form-control form-control-sm"})
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
                <div class="form-group">
                    @Html.Label("Password")
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control form-control-sm"})
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="form-group">
                    @Html.Label("Confirm Password")
                    @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control form-control-sm"})
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <div class="form-group">
                    @Html.Label("User Type")
                    @Html.EnumDropDownListFor(x => x.UserType, new {@class = "form-control form-control-sm"})
                </div>
            }
    </div>
    
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("@Url.Action("Users", "Admin")");
                });
        });

        function getUserDetailsUrl(userId) {
            var url = "@Url.Action("UserDetails", new {userId = "abcd"})";

            return url.replace("abcd", userId);
        }

        function newUserSuccess(result) {
            location.replace(getUserDetailsUrl(result));
        }

        function newUserFailure(result) {
            toastr.error(result.responseJSON, "Error");
            $("#newUserForm").reset();
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}