@model MyPortal.Areas.Staff.ViewModels.NewUserViewModel
@{
    ViewBag.Title = "New User";
    ViewBag.DisplayTitle = "New User";
    Layout = "~/Views/Portal/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New User</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiAdminCreateUser", new {}), HttpMethod = "POST", OnSuccess = "newUserSuccess", OnFailure = "newUserFailure"}, new {id = "newUserForm"}))
            {
                <div class="form-group">
                    @Html.Label("Username")
                    @Html.TextBoxFor(x => x.Username, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
                <div class="form-group">
                    @Html.Label("Password")
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="form-group">
                    @Html.Label("Confirm Password")
                    @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <button type="button" class="btn btn-primary" id="backButton">Back</button>
                <button type="submit" class="btn btn-primary">Save</button>
            }
    </div>
    
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace(@Url.Action("Users", "Admin"));
                });
        });

        function newUserSuccess(result) {
            toastr.success(result);
            location.replace(@Url.Action("Users", "Admin"));
        }

        function newUserFailure(result) {
            toastr.error(result.responseJSON);
            $("#newUserForm").reset();
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}