@using MyPortal.Services
@model MyPortal.Areas.Staff.ViewModels.RolesViewModel
@{
    ViewBag.Title = "Roles";
    ViewBag.DisplayTitle = "Roles";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Roles</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        @if (User.HasPermission("EditRoles"))
            {
                <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#NewRoleModal">New Role</button>
                <hr/>
            }
    </div>
    
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        
        <div class="card shadow mb-4">
            
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Roles</h6>
            </div>
            
            <div class="card-body">
                @Html.EJS().Grid("Roles").DataSource(d => { d.Url(Url.HttpRouteUrl("ApiGetUserDefinedRolesDataGrid", new {})).CrossDomain(false).Adaptor("UrlAdaptor"); }).Columns(c =>
                {
                    c.Field("Name").HeaderText("Role").Template("#roleNameTemplate").Width("200").Add();
                    c.HeaderText("Actions").Template("#roleActionsTemplate").Width("170").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.IgnoreCase(true); }).Toolbar(new List<string> {"Search"}).Render()
            </div>

        </div>
        
    </div>

</div>

<div id="NewRoleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Role</h4>
                <button type="button" class="close" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="View role permissions"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiCreateRole", new {}), HttpMethod = "POST", OnSuccess = "newRoleSuccess", OnFailure = "newRoleFailure"}, new {id = "newRoleForm"}))
            {
        <div class="modal-body">
            <div class="form-group">
                @Html.Label("Name")
                @Html.TextBoxFor(x => x.Role.Name, new { @class = "form-control", Name = "Name" })
                @Html.ValidationMessageFor(x => x.Role.Name)
            </div>
            <div class="form-group">
                @Html.Label("Description")
                @Html.TextBoxFor(x => x.Role.Description, new { @class = "form-control", Name = "Description" })
                @Html.ValidationMessageFor(x => x.Role.Description)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
            }
        </div>
    </div>
</div>

<div id="EditRoleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Role</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiUpdateRole", new {}), HttpMethod = "POST", OnSuccess = "editRoleSuccess", OnFailure = "editRoleFailure"}, new {id = "editRoleForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("Name")
                        @Html.TextBoxFor(x => x.Role.Name, new {@class = "form-control", Name = "Name", id = "EditRoleNameControl"})
                        @Html.ValidationMessageFor(x => x.Role.Name)
                    </div>
                    <div class="form-group">
                        @Html.Label("Description")
                        @Html.TextBoxFor(x => x.Role.Description, new { @class = "form-control", Name = "Description", id = "EditRoleDescriptionControl" })
                        @Html.ValidationMessageFor(x => x.Role.Description)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.Role.Id, new {Name = "Id", id = "EditRoleIdControl"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var urlDeleteRole = "@Url.HttpRouteUrl("ApiDeleteRole", new { roleId = "abcd" })";
            var urlGetRoleById = "@Url.HttpRouteUrl("ApiGetRoleById", new { roleId = "abcd" })";

            var urlRolePermissions = "@Url.Action("RolePermissions", new {roleId = "abcd"})";

            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $("#Roles").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this role?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: urlDeleteRole.replace("abcd", button.attr("data-role-id")),
                                    method: "DELETE",
                                    success: function(result) {
                                        refreshTable("Roles");
                                        toastr.success(result);
                                    },
                                    error: function(result) {
                                        toastr.error(result.responseJSON);
                                    }
                                });
                            }
                        });
                });

            $("#Roles").on("click",
                ".js-edit",
                function() {
                    var button = $(this);
                    var roleId = button.attr("data-role-id");
                    $.ajax({
                        url: urlGetRoleById.replace("abcd", roleId),
                        method: "GET",
                        success: function(result) {
                            $("#EditRoleNameControl").val(result["name"]);
                            $("#EditRoleIdControl").val(result["id"]);
                            $("#EditRoleDescriptionControl").val(result["description"]);
                        },
                        error: function() {
                            toastr.error("Failed to load role data");
                        }
                    });
                    $("#EditRoleModal").modal('toggle');
                });

            $("#Roles").on("click",
                ".js-permissions",
                function () {
                    var button = $(this);
                    var roleId = button.attr("data-role-id");
                    location.replace(urlRolePermissions.replace("abcd", roleId));
                });
        });

        function newRoleSuccess(result) {
            $("#NewRoleModal").modal('hide');
            refreshTable("Roles");
            toastr.success(result);
        }

        function newRoleFailure(result) {
            $("#NewRoleModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function editRoleSuccess(result) {
            $("#EditRoleModal").modal('hide');
            refreshTable("Roles");
            toastr.success(result);
        }

        function editRoleFailure(result) {
            $("#EditRoleModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function initTooltips() {
            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        }
    </script>
    
    <script type="text/x-jsrender" id="roleNameTemplate">
        <div>
            ${Description}
        </div>
    </script>
    
    <script type="text/x-jsrender" id="roleActionsTemplate">
        <div>
            <button type="button" class="btn btn-link js-permissions" data-toggle="tooltip" data-placement="top" title="View role permissions" data-role-id="${Id}">
                <i class="far fa-check-circle"></i>
            </button>
            <button type="button" class="btn btn-link js-edit" data-toggle="tooltip" data-placement="top" title="Edit role" data-role-id="${Id}">
                <i class="far fa-edit"></i>
            </button>
            <button type="button" class="btn btn-link js-delete" data-toggle="tooltip" data-placement="top" title="Delete role" data-role-id="${Id}">
                <i class="far fa-trash-alt text-danger"></i>
            </button>
        </div>
    </script>
}