@model MyPortal.Areas.Staff.ViewModels.SaleEntryViewModel
@{
    ViewBag.Title = "Sale Entry";
    ViewBag.DisplayTitle = "Sale Entry";
    Layout = "~/Views/Portal/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sale Entry</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        @Html.Label("Product")
        @Html.DropDownListFor(x => x.Sale.Product, new SelectList(Model.Products, "Id", "Description"), "", new {@class = "form-control", Name = "Product", id = "productSelect"})
        <p class="text-primary mp-bold" data-price id="price"></p>
    </div>

</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        
        <div class="form-group">
            <label>Year Group</label>
            <select class="form-control" id="yearGroupSelect"></select>
        </div>

        <div class="form-group" id="selectStudentArea">
            <label class="d-none" id="studentLabel">Student</label>
            <select class="form-control disabled d-none" id="studentSelect"></select>
        </div>
        
        <div class="form-group">
                <button type="button" class="btn btn-primary" id="backButton">Back</button>
                <button class="btn btn-success d-none" id="submitButton">Make Sale</button>
        </div>

    </div>
    
</div>

@section scripts
{
    <script>

        var urlGetAllYearGroups = "@Url.HttpRouteUrl("ApiPastoralGetAllYearGroups", new {})";
        var urlGetStudentsByYearGroup = "@Url.HttpRouteUrl("ApiFinanceGetStudentsByYearGroup", new {yearGroupId=9999})";
        var urlGetProductPrice = "@Url.HttpRouteUrl("ApiFinanceGetProductPrice", new {productId=9999})";
        var urlCreateSale = "@Url.HttpRouteUrl("ApiFinanceCreateSale", new {})";
        var urlQueryBalance = "@Url.HttpRouteUrl("ApiFinanceQueryBalance", new {})";

        $(document).ready(function() {
            //Gets Year Groups and Inserts Options into Dropdown
            $.ajax({
                url: urlGetAllYearGroups,
                method: "GET",
                complete: function(data) {
                    $("#yearGroupSelect").empty();
                    $(data.responseJSON).each(function(i, yearGroup) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].name +
                            "</option>";
                        $(divData).appendTo('#yearGroupSelect');
                    });
                    $("#yearGroupSelect").val("");
                }
            });

            $("#yearGroupSelect").on("change",
                function() {
                    if ($("#yearGroupSelect").val() !== "") {
                        $.ajax({
                            url: urlGetStudentsByYearGroup.replace("9999", $("#yearGroupSelect").val()),
                            method: "GET",
                            complete: function(data) {
                                $("#studentSelect").empty();
                                $(data.responseJSON).each(function(i, student) {
                                    var divData = "<option value=" +
                                        data.responseJSON[i].id +
                                        ">" +
                                        data.responseJSON[i].person.lastName +
                                        ", " +
                                        data.responseJSON[i].person.firstName +
                                        "</option>";
                                    $(divData).appendTo('#studentSelect');
                                });
                                $("#studentSelect").val("");
                            }
                        });
                        $("#studentSelect").removeClass("d-none");
                        $("#studentSelect").removeClass("disabled");
                        $("#studentLabel").removeClass("d-none");
                    }
                });

            $("#productSelect").on("change",
                function() {
                    $.ajax({
                        url: urlGetProductPrice.replace("9999", $("#productSelect").val()),
                        method: "GET",
                        success: function(data) {
                            $("#price").text("Price: £" + data.toFixed(2));
                        }
                    });
                });

            $("#studentSelect").on("change",
                function() {
                    if ($("#studentSelect").val() !== "")
                        $("#submitButton").removeClass("d-none");
                });

            $("#backButton").on("click",
                function() {
                    location.replace("@Url.Action("Sales", "Finance")");
                });

            function makeSale() {
                $.ajax({
                    url: urlCreateSale,
                    method: "POST",
                    data: ({ studentId: $("#studentSelect").val(), productId: $("#productSelect").val() }),
                    success: function(e) {
                        toastr.success(e);
                    },
                    error: function(e) {
                        toastr.error(e.responseJSON);
                    }
                });
            }

            function resetForm() {
                $("#studentSelect").val("");
                $("#studentLabel").addClass("d-none");
                $("#studentSelect").addClass("d-none");
                $("#studentSelect").addClass("disabled");
                $("#submitButton").addClass("d-none");
                $("#yearGroupSelect").val("");
            }

            $("#submitButton").on("click",
                function() {
                    $.ajax({
                        url: urlQueryBalance,
                        method: "POST",
                        data: ({ studentId: $("#studentSelect").val(), productId: $("#productSelect").val() }),
                        success: function(data) {
                            if (!data) {
                                bootbox.confirm("Student has insufficient funds. Do you wish to proceed with the sale?",
                                    function(result) {
                                        if (result) {
                                            makeSale();
                                            resetForm();
                                        } else {
                                            resetForm();
                                        }
                                    });
                            }

                            if (data) {
                                makeSale();
                                resetForm();
                            }
                        },
                        error: function(e) {
                            toastr.error(e.responseJSON);
                            resetForm();
                        }
                    });
                });


        });
    </script>
    
    @Scripts.Render("~/bundles/jqueryval")
}