@model MyPortal.Areas.Staff.ViewModels.NewStaffViewModel
@{
    ViewBag.Title = "Staff";
    ViewBag.DisplayTitle = "Staff";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Staff</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">

        <button type="button" class="btn btn-success mp-btn-top-auto" data-toggle="modal" data-target="#NewStaffModal">New Staff</button>

    </div>

</div>

<div class="row">
    
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Staff</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Staff").DataSource(d =>
                {
                    d.Url("/api/people/staff/get/dataGrid/all").CrossDomain(false).Adaptor("UrlAdaptor");
                }).Columns(c =>
                {
                    c.Field("DisplayName").HeaderText("Staff").Template("#staffNameTemplate").Width("200").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true);}).Toolbar(new List<string> {"Search"}).Render()
            </div>
        </div>
    </div>
    
</div>

<div id="NewStaffModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Staff</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="false"></span>&times;
                </button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiPeopleCreateStaff", new {}), HttpMethod = "POST", OnSuccess = "newStaffSuccess", OnFailure = "newStaffFailure"}, new {id = "newStaffForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Staff.Person.Title)
                        @Html.DropDownListFor(x => x.Staff.Person.Title, new SelectList(Model.Titles), "Select Title", new {@class = "form-control", Name = "Title"})
                        @Html.ValidationMessageFor(x => x.Staff.Person.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Staff.Person.FirstName)
                        @Html.TextBoxFor(x => x.Staff.Person.FirstName, new {@class = "form-control", Name = "FirstName"})
                        @Html.ValidationMessageFor(x => x.Staff.Person.FirstName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Staff.Person.LastName)
                        @Html.TextBoxFor(x => x.Staff.Person.LastName, new {@class = "form-control", Name = "LastName"})
                        @Html.ValidationMessageFor(x => x.Staff.Person.LastName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Staff.Code)
                        @Html.TextBoxFor(x => x.Staff.Code, new {@class = "form-control", Name = "Code"})
                        @Html.ValidationMessageFor(x => x.Staff.Code)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section scripts
{
    <script>

        var urlStaffDetails = "@Url.HttpRouteUrl("PeopleStaffDetails", new {id = "abcd"})";

        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });
        });

        function newStaffSuccess(result) {
            $("#NewStaffModal").modal('hide');
            $("#staff").DataTable().ajax.reload();
            toastr.success(result);
        }

        function newStaffFailure(result) {
            $("#NewStaffModal").modal('hide');
            refreshTable("Staff");
            toastr.error(result.responseJSON);
        }

        function renderDetailsUrl(id) {
            return urlStaffDetails.replace("abcd", id);
        }
    </script>

    <script type="text/x-jsrender" id="staffNameTemplate">
        <div>
            <a href="${renderDetailsUrl(Id)}" class="mp-bold">${DisplayName}</a>
        </div>
    </script>


    @Scripts.Render("~/bundles/jqueryval")
}