@using MyPortal.BusinessLogic.Services.Identity
@model MyPortal.Areas.Staff.ViewModels.DocumentsViewModel
@{
    ViewBag.Title = "Controlled Documents";
    ViewBag.DisplayTitle = "Controlled Documents";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Controlled Documents</h1>
</div>

@if (User.HasPermission("EditDocuments"))
{
    <div class="row">
        
        <div class="col-xl-12 col-md-12 mb-4">

            <button type="button" class="btn btn-primary mp-btn-top-auto" data-toggle="modal" data-target="#NewDocumentModal">New Document</button>

        </div>

    </div>
}

<div class="row">
    
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Documents</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Documents").DataSource(d =>
                {
                    if (User.HasPermission("EditDocuments"))
                    {
                        d.Url(Url.HttpRouteUrl("ApiGetAllDocumentsDataGrid", new {})).CrossDomain(false).Adaptor("UrlAdaptor");
                    }

                    else
                    {
                        d.Url(Url.HttpRouteUrl("ApiGetApprovedDocumentsDataGrid", new {})).CrossDomain(false).Adaptor("UrlAdaptor");
                    }
                }).Columns(c =>
                {
                    c.Field("Description").HeaderText("Description").Template("#documentsDescriptionTemplate").Width("200").Add();
                    c.Field("Date").HeaderText("Date").Template("#documentsDateTemplate").Width("200").Add();
                    if (User.HasPermission("EditDocuments"))
                    {
                        c.Field("Approved").Template("#documentsApprovedTemplate").Width("100").Add();
                        c.HeaderText("Actions").Template("#documentsActionsTemplate").Width("170").Add();
                    }
                }).AllowPaging().PageSettings(p => p.PageSize(12)).AllowSorting().SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).Toolbar(new List<string> {"Search"}).Render()
            </div>
        </div>
    </div>
    
</div>

@if (User.HasPermission("EditDocuments"))
{
    <div id="NewDocumentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Controlled Document</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiCreateDocument", new {}), HttpMethod = "POST", OnSuccess = "newDocumentSuccess", OnFailure = "newDocumentFailure"}, new {id = "newDocumentForm"}))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Description")
                            @Html.TextBoxFor(x => x.Document.Description, new {@class = "form-control form-control-sm", Name = "Description"})
                            @Html.ValidationMessageFor(x => x.Document.Description)
                        </div>
                        <div class="form-group">
                            @Html.Label("URL")
                            @Html.TextBoxFor(x => x.Document.Url, new {@class = "form-control form-control-sm", Name = "Url"})
                            @Html.ValidationMessageFor(x => x.Document.Url)
                        </div>
                        <div class="form-group">
                            @Html.Label("Approved")
                            @Html.CheckBoxFor(x => x.Document.Approved, new {Name = "Approved"})
                            @Html.ValidationMessageFor(x => x.Document.Approved)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="EditAttachmentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Controlled Document</h5>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = Url.HttpRouteUrl("ApiUpdateDocument", new {}), HttpMethod = "POST", OnSuccess = "editDocumentSuccess", OnFailure = "editDocumentFailure"}, new {id = "editDocumentForm"}))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Description")
                            @Html.TextBoxFor(x => x.Document.Description, new {@class = "form-control form-control-sm", Name = "Description", id = "EditDocumentDescriptionControl"})
                            @Html.ValidationMessageFor(x => x.Document.Description)
                        </div>
                        <div class="form-group">
                            @Html.Label("URL")
                            @Html.TextBoxFor(x => x.Document.Url, new {@class = "form-control form-control-sm", Name = "Url", id = "EditDocumentUrlControl"})
                            @Html.ValidationMessageFor(x => x.Document.Url)
                        </div>
                        <div class="form-group">
                            @Html.Label("Approved")
                            @Html.CheckBoxFor(x => x.Document.Approved, new {Name = "Approved", id = "EditDocumentApprovedControl"})
                            @Html.ValidationMessageFor(x => x.Document.Approved)
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x => x.Document.Id, new {Name = "Id", id = "EditDocumentIdControl"})
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


@section scripts
{
    <script>

        var urlGetDocumentById = "@Url.HttpRouteUrl("ApiDocumentsGetDocumentById", new {documentId = 9999})";
        var urlDeleteDocument = "@Url.HttpRouteUrl("ApiDocumentsDeleteDocument", new {documentId = 9999})";

        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $("#Documents").on("click",
                ".js-edit",
                function() {
                    var button = $(this);
                    var docId = button.attr("data-document-id");
                    $.ajax({
                        url: urlGetDocumentById.replace("9999", docId),
                        method: "GET",
                        success: function(result) {
                            $("#EditDocumentDescriptionControl").val(result["description"]);
                            $("#EditDocumentUrlControl").val(result["url"]);
                            $("#EditDocumentIdControl").val(result["id"]);
                            $("#EditDocumentApprovedControl").attr("checked", result["approved"]);
                        },
                        error: function() {
                            toastr.error("Failed to load document data");
                        }
                    });
                    $("#EditAttachmentModal").modal('toggle');
                });

            $("#Documents").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this document?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: urlDeleteDocument.replace("9999", button.attr("data-document-id")),
                                    method: "DELETE",
                                    success: function(ajaxResult) {
                                        refreshTable("Documents");
                                        toastr.success(ajaxResult);
                                    },
                                    error: function(ajaxResult) {
                                        toastr.error(ajaxResult.responseJSON);
                                    }
                                });
                            }
                        });
                });
        });

        function newDocumentSuccess(result) {
            $("#NewDocumentModal").modal('hide');
            refreshTable("Documents");
            toastr.success(result);
        }

        function newDocumentFailure(result) {
            $("#NewDocumentModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function editDocumentSuccess(result) {
            $("#EditAttachmentModal").modal('hide');
            refreshTable("Documents");            
            toastr.success(result);
        }

        function editDocumentFailure(result) {
            $("#EditAttachmentModal").modal('hide');
            toastr.error(result.responseJSON);
        }
    </script>

    <script type="text/x-jsrender" id="documentsDescriptionTemplate">
        <div>
            <a href="${Url}" class="mp-bold">${Description}</a>
        </div>
    </script>

    <script type="text/x-jsrender" id="documentsApprovedTemplate">
            <div>
                ${renderBool(Approved)}
            </div>
        </script>

    <script type="text/x-jsrender" id="documentsDateTemplate">
            <div>
                ${formatDate(Date.toString())}
            </div>
        </script>

    <script type="text/x-jsrender" id="documentsActionsTemplate">
                <div>
                    <button type='button' class='btn btn-link js-edit' data-document-id="${DocumentId}">
                        Edit
                    </button>
                    
                    <button type='button' class='btn btn-link js-delete' data-document-id="${DocumentId}">
                        Delete
                    </button>
                </div>
            </script>

    @Scripts.Render("~/bundles/jqueryval")

}