@model MyPortal.ViewModels.NewUserViewModel
@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">New User</h2>
    <hr/>
</div>

<body>
<div class="container float-left">
    @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = ""}, new {id = "newUserForm"}))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Id)
            @Html.TextBoxFor(x => x.Id, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <button type="button" class="btn btn-primary" id="backButton">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>
</body>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#newUserForm").on("submit",
                function(e) {

                    e.preventDefault();

                    var form = $("#newUserForm");
                    var data = form.serialize();

                    $.ajax({
                        url: "/api/users/new",
                        data: data,
                        method: "POST",
                        success: function(result) {
                            toastr.success(result);
                            location.replace("/Staff/Admin/Users");
                        },
                        error: function(result) {
                            toastr.error(result.responseJSON);
                            form.reset();
                        }
                    });
                });

            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/Admin/Users");
                });
        })
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}