@model MyPortal.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "User Details: " + @Model.User.UserName;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<body>

    <div class="container float-left">
        <h2 class="mp-page-title">@Model.User.Id - @Model.User.UserName</h2>
        <hr />
    </div>
    
<div class="container float-left">
    
    <button type="button" class="btn btn-success mp-btn-top-auto" id="AttachPerson" data-toggle="modal" data-target="#AttachPersonModal">
        <i class="fas fa-user-tag"></i> Attach Profile
    </button>
    
    <button type="button" class="btn btn-danger mp-btn-top-auto" data-user-id="@Model.User.Id" id="DetachPerson">
        <i class="fas fa-user-times"></i> Detach Profile
    </button>

</div>

<div class="container float-left mp-margin-top">

    <button type="button" class="btn btn-success mp-btn-top-auto" id="AddRole" data-toggle="modal" data-target="#AddRoleModal">
        <i class="fa fa-plus-circle"></i> Add Role
    </button>
    
    <button type="button" class="btn btn-warning mp-btn-top-auto" data-toggle="modal" data-target="#ResetPasswordModal" id="ResetPassword">
        <i class="fas fa-key"></i> Reset Password
    </button>


    <button type="button" class="btn btn-danger mp-btn-top-auto" data-user-id="@Model.User.Id" id="DeleteUser">
        <i class="fas fa-user-slash"></i> Delete User
    </button>

    <hr/>

</div>
<div class="container float-left">
    <div class="container" id="details">
        <div class="float-left">
            <!--USER DETAILS PANEL-->
            <div class="card border-primary mp-card">
                <div class="card-header bg-primary">User Details</div>
                <div class="card-body">
                    <table class="table-condensed mp-table-condensed">
                        <tr>
                            <td>
                                <b>User ID</b>
                            </td>
                            <td>@Model.User.Id</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Username</b>
                            </td>
                            <td>@Model.User.UserName</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Access Failed Count</b>
                            </td>
                            <td>@Model.User.AccessFailedCount</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- USER ROLES PANEL -->
        <div class="float-left" id="Results">
            <div class="card border-primary mp-card">
                <div class="card-header bg-primary">User Roles</div>
                @if (!Model.User.Roles.Any())
                {
                    {
                        <text>
                            <div class="card-body">No roles to display.</div></text>
                    }
                }
                else
                {
                    <table class="table table-condensed table-bordered" id="roles">
                        <thead>
                        <tr style="background-color: #18bc9c">
                            <th style="color: whitesmoke">Role</th>
                            <th style="color: whitesmoke">Remove</th>
                        </tr>
                        </thead>
                        @foreach (var role in Model.UserRoles)
                        {
                            <tr>
                                <td>@role</td>
                                <td>
                                    <button data-role-name="@role" data-user-id="@Model.User.Id" type="button" class="btn btn-danger btn-xs js-delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>


    <!-- Reset Password Modal -->
    <div id="ResetPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reset Password - @Model.User.UserName</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = ""}, new {id = "ResetPasswordForm"}))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(p => p.ChangePassword.Password)
                            @Html.PasswordFor(p => p.ChangePassword.Password, new {@class = "form-control", id = "enteredPassword", Name = "Password"})

                            @Html.HiddenFor(u => u.ChangePassword.UserId, new {Value = Model.User.Id, id = "userIdControl", Name = "UserId"})
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <!-- Add Role Modal -->
    <div id="AddRoleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Role - @Model.User.UserName</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = ""}, new {id = "AddRoleForm"}))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(r => r.ChangeRole.RoleName)
                            @Html.DropDownListFor(r => r.ChangeRole.RoleName, new SelectList(Model.Roles, "Name", "Name"), "Select Role", new {@class = "form-control", Name = "RoleName"})

                            @Html.HiddenFor(u => u.ChangePassword.UserId, new {Value = Model.User.Id, Name = "UserId"})
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
</body>

@section scripts
{
    <script>
        $(document).ready(function() {

            $("#roles").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to remove the user from this role?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/users/" +
                                        button.attr("data-user-id") +
                                        "/roles/" +
                                        button.attr("data-role-name"),
                                    method: "DELETE",
                                    success: function(result) {
                                        location.reload();
                                        toastr.success(result);
                                    },
                                    error: function(result) {
                                        toastr.error(result.responseJSON);
                                    }
                                });
                            }
                        });
                });

            $("#DeleteUser").on("click",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to DELETE this user?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/users/" + button.attr("data-user-id") + "/delete",
                                    method: "DELETE",
                                    success: function(result) {
                                        location.replace("/Staff/Admin/Users");
                                        toastr.success(result);
                                    },
                                    error: function(result) {
                                        toastr.error(result.responseJSON);
                                    }
                                });
                            }
                        });
                });

            $("#ResetPasswordForm").on("submit",
                function(e) {

                    e.preventDefault();

                    var form = $("#ResetPasswordForm");

                    $.ajax({
                        url: "/api/users/resetpassword",
                        data: form.serialize(),
                        method: "POST",
                        success: function(result) {
                            $("#ResetPasswordModal").modal('toggle');
                            toastr.success(result);
                        },
                        error: function(result) {
                            $("#ResetPasswordModal").modal('toggle');
                            toastr.error(result.responseJSON);
                        }

                    });
                });

            $("#AddRoleForm").on("submit",
                function(e) {

                    e.preventDefault();

                    var form = $("#AddRoleForm");

                    $.ajax({
                        url: "/api/users/addrole",
                        data: form.serialize(),
                        method: "POST",
                        success: function(result) {
                            $("#AddRoleModal").modal('toggle');
                            toastr.success(result);
                            location.reload();
                        },
                        error: function(result) {
                            $("#AddRoleModal").modal('toggle');
                            toastr.error(result.responseJSON);
                        }
                    });
                });

            $('#ResetPasswordModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}