@model MyPortal.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.User.Id - @Model.User.UserName</h2>

<hr/>

<body>
<div class="container" id="details">
    <div style="float: left;">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ResetPasswordForm" id="ResetPassword">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset Password
        </button>
        <button type="button" class="btn btn-danger" id="DeleteUser">
            <span class="glyphicon glyphicon-remove-sign"></span> Delete User
        </button>
        
        <!--USER DETAILS PANEL-->
        <div class="panel panel-primary" style="max-width: 300px; margin-top: 8px;">
            <div class="panel-heading">User Details</div>
            <div class="panel-body">
                <table class="table-condensed">
                    <tr>
                        <td><b>User ID</b></td>
                        <td>@Model.User.Id</td>
                    </tr>
                    <tr>
                        <td><b>Username</b></td>
                        <td>@Model.User.UserName</td>
                    </tr>
                    <tr>
                        <td><b>Access Failed Count</b></td>
                        <td>@Model.User.AccessFailedCount</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <!-- MyResults Panel -->
    <div style="float: left; margin-left: 20px;" id="Results">
        <button type="button" class="btn btn-success" id="AddRole">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Role
        </button>
        <div class="panel panel-primary" style="max-width: 300px; margin-top: 8px;">
            <div class="panel-heading">User Roles</div>
            @if (!Model.User.Roles.Any())
            {
                {<text>
                     <div class="panel-body">No roles to display.</div></text>}
            }
            else
            {
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr style="background-color: #18bc9c">
                        <th style="color: whitesmoke">Role</th>
                    </tr>
                    </thead>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td>@role</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>
</body>

