@using MyPortal.Services
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
            <div class="sidebar-brand-text mx-3">
                MyPortal
            </div>
        </a>

        <hr class="sidebar-divider my-0" />

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        <hr class="sidebar-divider" />

        <div class="sidebar-heading">
            Staff Portal
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                <i class="fas fa-fw fa-cog"></i>
                <span>Admin</span>
            </a>
            <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Admin</h6>
                    @if (User.HasPermission("EditUsers"))
                    {
                        @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("EditRoles"))
                    {
                        @Html.ActionLink("Roles", "Roles", "Admin", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssessment" aria-expanded="true" aria-controls="collapseAssessment">
                <i class="fas fa-fw fa-tasks"></i>
                <span>Assessment</span>
            </a>
            <div id="collapseAssessment" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Assessment</h6>
                    @if (User.HasPermission("EditResultSets"))
                    {
                        @Html.ActionLink("Result Sets", "ResultSets", "Assessment", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAttendance" aria-expanded="true" aria-controls="collapseAttendance">
                <i class="fas fa-fw fa-clock"></i>
                <span>Attendance</span>
            </a>
            <div id="collapseAttendance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Attendance</h6>
                    @if (User.HasPermission("EditAttendance"))
                    {
                        @Html.ActionLink("Take Register", "Registers", "Attendance", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCurriculum" aria-expanded="true" aria-controls="collapseCurriculum">
                <i class="fas fa-fw fa-graduation-cap"></i>
                <span>Curriculum</span>
            </a>
            <div id="collapseCurriculum" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Curriculum</h6>
                    @if (User.HasPermission("ViewLessonPlans"))
                    {
                        @Html.ActionLink("Lesson Plans", "LessonPlans", "Curriculum", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("ViewClasses"))
                    {
                        @Html.ActionLink("Classes", "Classes", "Curriculum", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("EditSubjects"))
                    {
                        @Html.ActionLink("Subjects", "Subjects", "Curriculum", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("EditStudyTopics"))
                    {
                        @Html.ActionLink("Study Topics", "StudyTopics", "Curriculum", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                <i class="fas fa-fw fa-file-alt"></i>
                <span>Documents</span>
            </a>
            <div id="collapseDocuments" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Documents</h6>
                    @if (User.HasPermission("ViewApprovedDocuments") || User.HasPermission("ViewAllDocuments"))
                    {
                        @Html.ActionLink("Documents", "Documents", "Documents", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinance" aria-expanded="true" aria-controls="collapseFinance">
                <i class="fas fa-fw fa-coins"></i>
                <span>Finance</span>
            </a>
            <div id="collapseFinance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Finance</h6>
                    @if (User.HasPermission("EditAccounts"))
                    {
                        @Html.ActionLink("Accounts", "Accounts", "Finance", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("EditProducts"))
                    {
                        @Html.ActionLink("Products", "Products", "Finance", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("EditSales"))
                    {
                        @Html.ActionLink("Sales", "Sales", "Finance", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="true" aria-controls="collapsePeople">
                <i class="fas fa-fw fa-user-friends"></i>
                <span>People</span>
            </a>
            <div id="collapsePeople" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">People</h6>
                    @if (User.HasPermission("ViewStudents"))
                    {
                        @Html.ActionLink("Students", "Students", "Students", null, new { @class = "collapse-item" })
                    }
                    @if (User.HasPermission("ViewStaff"))
                    {
                        @Html.ActionLink("Staff", "Staff", "Staff", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePersonnel" aria-expanded="true" aria-controls="collapsePersonnel">
                <i class="fas fa-fw fa-address-card"></i>
                <span>Personnel</span>
            </a>
            <div id="collapsePersonnel" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Personnel</h6>
                    @if (User.HasPermission("ViewTrainingCourses"))
                    {
                        @Html.ActionLink("Training Courses", "TrainingCourses", "Personnel", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProfiles" aria-expanded="true" aria-controls="collapseProfiles">
                <i class="fas fa-fw fa-book"></i>
                <span>Profiles</span>
            </a>
            <div id="collapseProfiles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Profiles</h6>
                    @if (User.HasPermission("EditComments"))
                    {
                        @Html.ActionLink("Comment Banks", "CommentBanks", "Profiles", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Comments", "Comments", "Profiles", null, new { @class = "collapse-item" })
                    }
                </div>
            </div>
        </li>

    <hr class="sidebar-divider d-none d-md-block">
    
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    

    </ul>
