@model MyPortal.Areas.Staff.ViewModels.LessonPlanDetailsViewModel

@{
    ViewBag.Title = "Lesson Plan: " + Model.LessonPlan.Title;
    ViewBag.DisplayTitle = "Lesson Plan Details";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.LessonPlan.Title</h1>
</div>

<div class="row">

    <div class="col-md-12 mb-4">

        <a class="btn btn-sm btn-primary" href="@Url.Action("LessonPlans")"><i class="fas fa-arrow-left"></i> Back</a>

    </div>

</div>

<div class="row">
    
    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-crosshairs"></i> Learning Objectives</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <p class="mp-text-section">@Model.LessonPlan.LearningObjectives</p>
            </div>
        </div>
    </div>
    
</div>

<div class="row">

    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-folder-open"></i> Content</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <p class="mp-text-section">@Model.LessonPlan.PlanContent</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-briefcase"></i> Homework</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <p class="mp-text-section">@Model.LessonPlan.Homework</p>
            </div>
        </div>
    </div>

</div>
