<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">&#x2630;</button>
        @Html.ActionLink("MyPortal", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "Index", "Staff", null, new {@class = "nav-link"})</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menuDropdownLink">
                        <h6 class="dropdown-header">Home</h6>
                        @Html.ActionLink("Students", "Students", "Staff", null, new {@class = "dropdown-item"})
                        @if (User.IsInRole("SeniorStaff"))
                        {
                            @Html.ActionLink("Staff", "Staff", "Staff", null, new {@class = "dropdown-item"})
                        }
                        @Html.ActionLink("Documents", "Documents", "Staff", null, new {@class = "dropdown-item"})
                        @Html.ActionLink("Training Courses", "TrainingCourses", "Staff", null, new {@class = "dropdown-item"})
                        @if (User.IsInRole("SeniorStaff"))
                        {
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Data</h6>
                            @Html.ActionLink("Import Results", "ImportResults", "Staff", null, new{@class = "dropdown-item"})
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Admin</h6>
                            @Html.ActionLink("Users", "Users", "Admin", null, new {@class = "dropdown-item"})
                        }
                        @if (User.IsInRole("Finance"))
                        {
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Finance</h6>
                            @Html.ActionLink("Accounts", "Accounts", "Finance", null, new {@class = "dropdown-item"})
                            @Html.ActionLink("Products", "Products", "Finance", null, new {@class = "dropdown-item"})
                            @Html.ActionLink("Sales", "Sales", "Finance", null, new {@class = "dropdown-item"})
                        }
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vleDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VLE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="vleDropdownMenuLink">
                        <a class="dropdown-item" href="https://calendar.google.com/a/vle.harrodsschool.co.uk" target="_blank">Calendar</a>
                        <a class="dropdown-item" href="https://classroom.google.com/a/vle.harrodsschool.co.uk" target="_blank">Classroom</a>
                        <a class="dropdown-item" href="https://drive.google.com/a/vle.harrodsschool.co.uk" target="_blank">Drive</a>
                        <a class="dropdown-item" href="https://keep.google.com/a/vle.harrodsschool.co.uk" target="_blank">Keep</a>
                        <a class="dropdown-item" href="https://mail.google.com/a/vle.harrodsschool.co.uk" target="_blank">Mail</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://sites.google.com/vle.harrodsschool.co.uk/directory" target="_blank">VLE Directory</a>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>