<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">&#x2630;</button>
        @Html.ActionLink("MyPortal", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")"><i class="fas fa-home fa-lg"></i></a></li>

                <!--Student-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="studentDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-graduate fa-lg"></i>
                    </a>
                    <div class="dropdown-menu nav-app-menu" aria-labelledby="menuDropdownLink">
                        <h6 class="dropdown-header">Student</h6>
                        @Html.ActionLink("MyResults", "Results", "Students", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                
                <!--Store-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="storeDropdownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </a>
                    <div class="dropdown-menu nav-app-menu" aria-labelledby="menuDropdownLink">
                        <h6 class="dropdown-header">Store</h6>
                        @Html.ActionLink("MyStore", "Store", "Students", null, new {@class = "dropdown-item"})
                        @Html.ActionLink("MySales History", "SalesHistory", "Students", null, new {@class = "dropdown-item"})
                    </div>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="vleDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fab fa-google fa-lg"></i>
                    </a>
                    <div class="dropdown-menu nav-app-menu" aria-labelledby="vleDropdownMenuLink">
                        <h6 class="dropdown-header">VLE</h6>
                        <a class="dropdown-item" href="https://calendar.google.com/a/vle.harrodsschool.co.uk" target="_blank">Calendar</a>
                        <a class="dropdown-item" href="https://classroom.google.com/a/vle.harrodsschool.co.uk" target="_blank">Classroom</a>
                        <a class="dropdown-item" href="https://drive.google.com/a/vle.harrodsschool.co.uk" target="_blank">Drive</a>
                        <a class="dropdown-item" href="https://keep.google.com/a/vle.harrodsschool.co.uk" target="_blank">Keep</a>
                        <a class="dropdown-item" href="https://mail.google.com/a/vle.harrodsschool.co.uk" target="_blank">Mail</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://sites.google.com/vle.harrodsschool.co.uk/directory" target="_blank">VLE Directory</a>
                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>