@using MyPortal.Extensions
@model MyPortal.Areas.Staff.ViewModels.RegistersViewModel
@{
    ViewBag.Title = "Registers";
    ViewBag.DisplayTitle = "Registers";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Registers</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4" id="registerSelectors">
        
        

    </div>

</div>

<div class="row">
    
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Registers</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                <div class="mb-4">
                    <form class="form-inline">
                        <div class="mr-2">
                            @Html.EJS().DatePicker("selectedDate").Format("dd-MMM-yyyy").HtmlAttributes(new Dictionary<string, object> { { "Name", "Date" } }).Render()
                        </div>
                        <div class="mr-2">
                            <select class="form-control form-control-sm" id="selectedTeacher"></select>
                        </div>

                        <button type="button" class="btn btn-sm btn-primary" id="buttonSearch"><span><i class="fas fa-search"></i> Search</span></button>
                    </form>
                </div>

                @Html.EJS().Grid("Registers").DataSource(d =>
                {
                    d.Url(Url.HttpRouteUrl("ApiGetSessionsByTeacherAndDateDataGrid", new {teacherId = Model.CurrentUser.Id, date = DateTime.Today.ToDisplayString()})).CrossDomain(false).Adaptor("UrlAdaptor");
                }).Columns(c =>
                {
                    c.Field("PeriodName").HeaderText("Period").Template("#registersPeriodTemplate").Width("50").Add();
                    c.Field("ClassName").HeaderText("Class").Template("#registersClassTemplate").Width("50").Add();
                    c.Field("Teacher").HeaderText("Teacher").Template("#registersTeacherTemplate").Width("80").Add();
                    c.HeaderText("Actions").Template("#registersActionsTemplate").Width("170").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(10)).Render()
            </div>
        </div>
    </div>
    
</div>


@section scripts
{
    <script>

        var urlGetAllStaff = "@Url.HttpRouteUrl("ApiGetAllStaffMembers", new {})";
        var urlGetRegisters =
            "@Url.HttpRouteUrl("ApiGetSessionsByTeacherAndDateDataGrid", new {teacherId = 9999, date = "2000-01-01"})";
        var urlEditAttendance = "@Url.Action("TakeRegister", new {weekId = 9999, sessionId = 8888})";
        var urlGetWeekByDate = "@Url.HttpRouteUrl("ApiGetAttendanceWeekByDate", new {date = "2000-01-01"})";

        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $.ajax({
                url: urlGetAllStaff,
                method: "GET",
                complete: function(data) {
                    $("#selectedTeacher").empty();
                    $(data.responseJSON).each(function(i) {
                        var divData = "<option value=" +
                            data.responseJSON[i].id +
                            ">" +
                            data.responseJSON[i].person.lastName +
                            ", " +
                            data.responseJSON[i].person.firstName +
                            "</option>";
                        $(divData).appendTo('#selectedTeacher');

                        $("#selectedTeacher").val(@Model.CurrentUser.Id);
                        $("#selectedDate").val("@DateTime.Today.ToDisplayString()");
                    });
                }
            });

            $("#buttonSearch").on("click",
                function() {
                    var selDate = $("#selectedDate").val();
                    var selTeacher = $("#selectedTeacher").val();
                    updateWeekId(selDate);
                    changeTableSource("Registers",
                        urlGetRegisters.replace("9999", selTeacher).replace("2000-01-01", selDate));
                });

            $("#Registers").on("click",
                ".js-EditAttendance",
                function() {
                    var button = $(this);
                    var weekId = $("#Registers").attr("data-week-id");
                    var sessionId = button.attr("data-session-id");
                    location.replace(urlEditAttendance.replace("9999", weekId).replace("8888", sessionId));
                });
        });

        function updateWeekId(selectedDate) {
            $("#Registers").attr("data-week-id", "");

            $.ajax({
                url: urlGetWeekByDate.replace("2000-01-01", selectedDate),
                method: "GET",
                success: function(result) {
                    $("#Registers").attr("data-week-id", result.id);
                }
            });
        }

    </script>

    <script type="text/x-jsrender" id="registersPeriodTemplate">
        <div>
            ${PeriodName}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersClassTemplate">
        <div>
            ${ClassName}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersTeacherTemplate">
        <div>
            ${Teacher}
        </div>
    </script>

    <script type="text/x-jsrender" id="registersActionsTemplate">
        <div>
            <button type='button' class='btn btn-sm btn-primary js-EditAttendance' data-session-id='${Id}'>
                Take Register
            </button>
        </div>
    </script>
}