@model MyPortal.ViewModels.AccountsViewModel
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Accounts</h2>
    <hr/>
</div>

<div class="container float-left">
    <table class="table table-bordered table-hover mp-table" id="students">
        <thead>
        <tr>
            <th>Student</th>
            <th>Year Group</th>
            <th>Reg Group</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="CreditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mp-title-credit">Credit Account</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = ""}, new {id = "CreditForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.BalanceAdjustment.Amount)
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mp-bold" id="basic-addon">£</span>
                            </div>                            
                            @Html.TextBoxFor(x => x.BalanceAdjustment.Amount, new {@class = "form-control", Name = "Amount"})
                        </div>
                        @Html.ValidationMessageFor(x => x.BalanceAdjustment.Amount)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.BalanceAdjustment.Student, new {Name = "Student", id = "studentIdControlCredit"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div id="DebitModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mp-title-debit">Debit Account</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = ""}, new {id = "DebitForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.BalanceAdjustment.Amount)
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text mp-bold" id="basic-addon">£</span>
                            </div>                            
                            @Html.TextBoxFor(x => x.BalanceAdjustment.Amount, new {@class = "form-control", Name = "Amount"})
                        </div>
                        @Html.ValidationMessageFor(x => x.BalanceAdjustment.Amount)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.BalanceAdjustment.Student, new {Name = "Student", id = "studentIdControlDebit"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {

            function loadAccounts() {
                $("#students").DataTable({
                    ajax: {
                        url: "/api/students",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "firstName",
                            render: function(data, type, student) {
                                return student.lastName + ", " + student.firstName;
                            }
                        },
                        {
                            data: "yearGroup1.name"
                        },
                        {
                            data: "regGroup1.name"
                        },
                        {
                            data: "accountBalance",
                            render: $.fn.dataTable.render.number(',', '.', 2, '£')
                        },
                        {
                            data: "id",
                            render: function(data) {
                                return "<button type='button' class='btn btn-danger js-debit mp-btn-size' data-student-id=" +
                                    data +
                                    "><i class=\"fas fa-minus\"></i></button> " +
                                    "<button type='button' class='btn btn-success js-credit mp-btn-size' data-student-id=" +
                                    data +
                                    "><i class=\"fas fa-plus\"></i></button>";
                            }
                        }
                    ]
                });
            }

            //Show Credit Modal on Click
            $("#students").on("click",
                ".js-credit",
                function() {
                    var button = $(this);
                    var studentId = button.attr("data-student-id");

                    $("#studentIdControlCredit").val(studentId);

                    $("#CreditModal").modal('toggle');
                });

            //Show Debit Modal on Click
            $("#students").on("click",
                ".js-debit",
                function() {
                    var button = $(this);
                    var studentId = button.attr("data-student-id");

                    $("#studentIdControlDebit").val(studentId);

                    $("#DebitModal").modal('toggle');
                });

            //Credit on Submit
            $("#CreditForm").on("submit",
                function(e) {
                    e.preventDefault();

                    $.ajax({
                        url: "/api/students/credit",
                        data: $("#CreditForm").serialize(),
                        method: "POST",
                        success: function(result) {
                            $("#CreditModal").modal('hide');
                            console.log(result);
                            toastr.success(result);
                            $("#students").DataTable().ajax.reload();
                        },
                        error: function(result) {
                            $("#CreditModal").modal('hide');
                            toastr.error(result.responseJSON);
                        }
                    });
                });

            //Debit on Submit
            $("#DebitForm").on("submit",
                function(e) {
                    e.preventDefault();

                    $.ajax({
                        url: "/api/students/debit",
                        data: $("#DebitForm").serialize(),
                        method: "POST",
                        success: function(result) {
                            $("#DebitModal").modal('hide');
                            toastr.success(result);
                            $("#students").DataTable().ajax.reload();
                        },
                        error: function(result) {
                            $("#CreditModal").modal('hide');
                            toastr.error(result.responseJSON);
                        }
                    });
                });

            //Clear Modal When Closed
            $('#CreditModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });
            $('#DebitModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            loadAccounts();
        });
    </script>

    @Scripts.Render("~/bundles/staff")
    @Scripts.Render("~/bundles/jqueryval")
}