@model MyPortal.ViewModels.AccountsViewModel
@{
    ViewBag.Title = "Accounts";
    ViewBag.DisplayTitle = "Accounts";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Accounts</h1>
</div>

<div class="row">
    
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Accounts</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @Html.EJS().Grid("Accounts").DataSource(d =>
                {
                    d.Url("/api/people/students/get/dataGrid/all").CrossDomain(false).Adaptor("UrlAdaptor");
                }).Columns(c =>
                {
                    c.Field("DisplayName").HeaderText("Student").Template("#accountsStudentTemplate").Width("200").Add();
                    c.Field("YearGroupName").HeaderText("Year Group").Template("#accountsYearGroupTemplate").Width("100").Add();
                    c.Field("RegGroupName").HeaderText("Reg Group").Template("#accountsRegGroupTemplate").Width("100").Add();
                    c.Field("AccountBalance").HeaderText("Balance").Template("#accountsBalanceTemplate").Width("150").Add();
                    c.HeaderText("Actions").Template("#accountsActionsTemplate").Width("120").Add();
                }).AllowPaging().PageSettings(p => p.PageSize(12)).SearchSettings(s => { s.Operator("contains").IgnoreCase(true); }).AllowSorting().Toolbar(new List<string>() {"Search"}).Render()
            </div>
        </div>
    </div>
    
</div>

    <div id="CreditModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mp-title-credit">Credit Account</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/finance/creditStudent", HttpMethod = "POST", OnSuccess = "creditSuccess", OnFailure = "creditFailure" }, new { id = "CreditForm" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Amount to Credit")
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mp-bold" id="basic-addon">£</span>
                                </div>
                                @Html.TextBoxFor(x => x.BalanceAdjustment.Amount, new { @class = "form-control", Name = "Amount" })
                            </div>
                            @Html.ValidationMessageFor(x => x.BalanceAdjustment.Amount)
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x => x.BalanceAdjustment.StudentId, new { Name = "StudentId", id = "studentIdControlCredit" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div id="DebitModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mp-title-debit">Debit Account</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/finance/debitStudent", HttpMethod = "POST", OnSuccess = "debitSuccess", OnFailure = "debitFailure" }, new { id = "DebitForm" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.Label("Amount to Debit")
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mp-bold" id="basic-addon">£</span>
                                </div>
                                @Html.TextBoxFor(x => x.BalanceAdjustment.Amount, new { @class = "form-control", Name = "Amount" })
                            </div>
                            @Html.ValidationMessageFor(x => x.BalanceAdjustment.Amount)
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x => x.BalanceAdjustment.StudentId, new { Name = "StudentId", id = "studentIdControlDebit" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

@section scripts
{
    <script>
        $(document).ready(function() {
            //Show Credit Modal on Click
            $("#Accounts").on("click",
                ".js-credit",
                function() {
                    var button = $(this);
                    var studentId = button.attr("data-student-id");

                    $("#studentIdControlCredit").val(studentId);

                    $("#CreditModal").modal('toggle');
                });

            //Show Debit Modal on Click
            $("#Accounts").on("click",
                ".js-debit",
                function() {
                    var button = $(this);
                    var studentId = button.attr("data-student-id");

                    $("#studentIdControlDebit").val(studentId);

                    $("#DebitModal").modal('toggle');
                });

            //Clear Modal When Closed
            $('#CreditModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });
            $('#DebitModal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });
        });

        function creditSuccess(result) {
            $("#CreditModal").modal('hide');
            refreshTable("Accounts");
            toastr.success(result);
        }

        function creditFailure(result) {
            $("#CreditModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function debitSuccess(result) {
            $("#DebitModal").modal('hide');
            refreshTable("Accounts");
            toastr.success(result);
        }

        function debitFailure(result) {
            $("#DebitModal").modal('hide');
            toastr.error(result.responseJSON);
        }
    </script>

    <script type="text/x-jsrender" id="accountsStudentTemplate">
        <div>
            ${DisplayName}
        </div>
    </script>

    <script type="text/x-jsrender" id="accountsYearGroupTemplate">
        <div>
            ${YearGroupName}
        </div>
    </script>

    <script type="text/x-jsrender" id="accountsRegGroupTemplate">
        <div>
            ${RegGroupName}
        </div>
    </script>

    <script type="text/x-jsrender" id="accountsBalanceTemplate">
        <div>
            ${formatCurrency(AccountBalance)}
        </div>
    </script>

    <script type="text/x-jsrender" id="accountsActionsTemplate">
        <div>
            <button type='button' class='btn btn-danger mp-btn-action js-debit mp-btn-size' data-student-id="${Id}">
                <i class="fas fa-minus"></i>
            </button>
            <button type='button' class='btn btn-success mp-btn-action js-credit mp-btn-size' data-student-id="${Id}">
                <i class="fas fa-plus"></i>  
            </button>                      
        </div>
    </script>

    
    @Scripts.Render("~/bundles/jqueryval")
}