@model MyPortal.Areas.Staff.ViewModels.NewStudentViewModel
@{
    ViewBag.Title = "New Student";
    ViewBag.DisplayTitle = "New Student";
}

<div class="container float-left">
    <h2 class="mp-page-title">New Student</h2>
    <hr/>
</div>

<div class="container float-left">
    @using (Html.BeginForm("CreateStudent", "Home"))
    {
        <div class="form-group">
            @Html.Label("First Name")
            @Html.TextBoxFor(s => s.Student.Person.FirstName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Person.FirstName)
        </div>
        <div class="form-group">
            @Html.Label("Last Name")
            @Html.TextBoxFor(s => s.Student.Person.LastName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Person.LastName)
        </div>
        <div class="form-group">
            @Html.Label("Gender")
            @Html.DropDownListFor(s => s.Student.Person.Gender, new SelectList(Model.Genders, "Key", "Value"), "Select Gender", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Person.Gender)
        </div>
        @Html.AntiForgeryToken()
        <button type="button" class="btn btn-primary" id="backButton">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("@Url.Action("Students", "Home")");
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    
}