@model MyPortal.ViewModels.CommentBanksViewModel

@{
    ViewBag.Title = "Comment Banks";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">Comment Banks</h2>
    <hr/>
</div>

<div class="container float-left">
    <button type="button" class="btn btn-success mp-btn-top-auto" data-toggle="modal" data-target="#NewCommentBankModal">New Comment Bank</button>
    <hr/>
</div>

<div class="container float-left">
    <table class="table table-bordered table-hover mp-table mp-table-link" id="commentBanks">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="NewCommentBankModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Comment Bank</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = "/api/commentBanks/create", HttpMethod = "POST", OnSuccess = "newCommentBankSuccess", OnFailure = "newCommentBankFailure"}, new {id = "newCommentBankForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CommentBank.Name)
                        @Html.TextBoxFor(x => x.CommentBank.Name, new {@class = "form-control", Name = "Name"})
                        @Html.ValidationMessageFor(x => x.CommentBank.Name)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="EditCommentBankModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Comment Bank</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
            </div>
            @using (Ajax.BeginForm(null, null, new AjaxOptions {Url = "/api/commentBanks/update", HttpMethod = "POST", OnSuccess = "editCommentBankSuccess", OnFailure = "editCommentBankFailure"}, new {id = "newResultSetForm"}))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CommentBank.Name)
                        @Html.TextBoxFor(x => x.CommentBank.Name, new {@class = "form-control", Name = "Name", id = "editCommentBankNameControl"})
                        @Html.ValidationMessageFor(x => x.CommentBank.Name)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CommentBank.Id, new {Name = "Id", id = "editCommentBankIdControl"})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('.modal').on('hidden.bs.modal',
                function() {
                    $(this).find('form').trigger('reset');
                });

            $("#commentBanks").DataTable({
                ajax: {
                    url: "/api/commentBanks/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button type='button' class='btn btn-xs btn-warning mp-btn-action-left js-edit' data-bank-id=" +
                                data +
                                "><i class=\"far fa-edit\"></i></button> " +
                                "<button type='button' class='btn btn-xs btn-danger mp-btn-action-right js-delete' data-bank-id=" +
                                data +
                                "><i class=\"far fa-trash-alt\"></i></button>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "No comment banks to display"
                }
            });

            $("#commentBanks").on("click",
                ".js-edit",
                function() {
                    var button = $(this);
                    var bankId = button.attr("data-bank-id");
                    $.ajax({
                        url: "/api/commentBanks/byId/" + bankId,
                        method: "GET",
                        success: function(result) {
                            $("#editCommentBankNameControl").val(result["name"]);
                            $("#editCommentBankIdControl").val(result["id"]);
                        },
                        error: function() {
                            toastr.error("Failed to load comment bank data");
                        }
                    });
                    $("#EditCommentBankModal").modal('toggle');
                });

            $("#commentBanks").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this comment bank and its comments?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/commentBanks/delete/" + button.attr("data-bank-id"),
                                    method: "DELETE",
                                    success: function(a) {
                                        $("#commentBanks").DataTable().ajax.reload();
                                        toastr.success(a);
                                    },
                                    error: function(e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });

        });

        function newCommentBankSuccess(result) {
            $("#NewCommentBankModal").modal('hide');
            $("#commentBanks").DataTable().ajax.reload();
            toastr.success(result);
        }

        function newCommentBankFailure(result) {
            $("#NewCommentBankModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function editCommentBankSuccess(result) {
            $("#EditCommentBankModal").modal('hide');
            $("#commentBanks").DataTable().ajax.reload();
            toastr.success(result);
        }

        function editCommentBankFailure(result) {
            $("#EditCommentBankModal").modal('hide');
            toastr.error(result.responseJSON);
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}