@model MyPortal.ViewModels.StaffHomeViewModel
@{
    ViewBag.Title = "Home: " + Model.CurrentUser.Title + " " + Model.CurrentUser.FirstName.Substring(0, 1) + " " + Model.CurrentUser.LastName;
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">@Model.CurrentUser.Title @Model.CurrentUser.FirstName.Substring(0, 1) @Model.CurrentUser.LastName</h2>
    <hr />
</div>


<!-- MyDetails Panel -->
<div class="container float-left mp-shrink-width" id="details">
    <div>

        <div class="card border-primary mp-card">
            <div class="card-header bg-primary">MyDetails</div>
            <div class="card-body">
                <table class="table-condensed mp-table-condensed">
                    <tr>
                        <td>
                            <b>Title</b>
                        </td>
                        <td>@Model.CurrentUser.Title</td>
                    </tr>
                    <tr>
                        <td>
                            <b>First Name</b>
                        </td>
                        <td>@Model.CurrentUser.FirstName</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Last Name</b>
                        </td>
                        <td>@Model.CurrentUser.LastName</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Staff Code</b>
                        </td>
                        <td>@Model.CurrentUser.Code</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container float-left mp-margin-top">
    <div>
        <hr />
        <h4 class="mp-bold">MyTraining</h4>
        <table class="table table-bordered mp-table" id="certs" data-staff-id="@Model.CurrentUser.Id">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--#region MyObservations Panel-->
<div class="container float-left mp-margin-top">
    <div>
        <hr />
        <h4 class="mp-bold">MyObservations</h4>
        <table class="table table-bordered mp-table mp-table-link" id="observations" data-staff-id="@Model.CurrentUser.Id">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Observed By</th>
                    <th>Outcome</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--#endregion-->

<!-- MyDocuments Panel -->
<div class="container float-left mp-margin-top">
    <div>
        <hr />
        <h4 class="mp-bold">MyDocuments</h4>
        <table class="table table-bordered mp-table mp-table-link" id="documents" data-staff-id="@Model.CurrentUser.Id">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#documents").DataTable({
                ajax: {
                    url: "/api/staff/documents/fetch/" + $("#documents").attr("data-staff-id"),
                    dataSrc: "",
                    method: "GET"
                },
                columns: [
                    {
                        data: "document.description",
                        render: function (data, type, document) {
                            return "<a href='" +
                                document.document.url +
                                "' target='_blank'>" +
                                document.document.description +
                                "</a>";
                        }

                    },
                    {
                        data: "document.date",
                        render: function (data) {
                            var date = new Date(data);
                            return date.toLocaleDateString();
                        }
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "No documents to display"
                }
            });

            $("#certs").DataTable({
                ajax: {
                    url: "/api/staff/certificates/fetch/" + $("#documents").attr("data-staff-id"),
                    dataSrc: "",
                    method: "GET"
                },
                columns: [
                    {
                        data: "trainingCourse.code"
                    },
                    {
                        data: "trainingCourse.description"
                    },
                    {
                        data: "trainingStatus.name"
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                responsive: true,
                info: false,
                "language": {
                    "emptyTable": "No certificates to display"
                },
                "createdRow": function (row, data, dataIndex) {
                    if (data.trainingStatus.name === "Completed") {
                        $(row).addClass("mp-cert-completed");
                    }

                    if (data.trainingStatus.name === "Pending") {
                        $(row).addClass("mp-cert-pending");
                    }

                    if (data.trainingStatus.name === "Failed") {
                        $(row).addClass("mp-cert-failed");
                    }
                }
            });

            $("#observations").DataTable({
                ajax: {
                    url: "/api/staff/observations/fetch/" + $("#observations").attr("data-staff-id"),
                    dataSrc: "",
                    method: "GET"
                },
                columns: [
                    {
                        data: "date",
                        render: function (data) {
                            var date = new Date(data);
                            return date.toLocaleDateString();
                        }

                    },
                    {
                        data: "staff1.lastname",
                        render: function (data, type, observation) {
                            return observation.staff1.title +
                                " " +
                                observation.staff1.firstName.substring(0, 1) +
                                " " +
                                observation.staff1.lastName;
                        }
                    },
                    {
                        data: "outcome"
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                responsive: true,
                "createdRow": function (row, data, dataIndex) {
                    if (data.outcome === "Inadequate") {
                        $(row).addClass("mp-observation-inadequate");
                    }

                    if (data.outcome === "Satisfactory") {
                        $(row).addClass("mp-observation-satisfactory");
                    }

                    if (data.outcome === "Good") {
                        $(row).addClass("mp-observation-good");
                    }

                    if (data.outcome === "Outstanding") {
                        $(row).addClass("mp-observation-outstanding");
                    }
                },
                "language": {
                    "emptyTable": "No observations to display"
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/staff")
}