@model MyPortal.Models.TrainingCourse
@{
    ViewBag.Title = "NewCourse";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>New Training Course</h2>
<hr/>

@using (Html.BeginForm("CreateCourse", "Staff"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Code)
        @Html.TextBoxFor(c => c.Code, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Code)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Description)
        @Html.TextBoxFor(c => c.Description, new {@class = "form-control"})
        @Html.ValidationMessageFor(c => c.Description)
    </div>
    @Html.AntiForgeryToken()
    <button type="button" class="btn btn-primary" id="backButton">Back</button>
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/TrainingCourses");
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/staff")
}