@model MyPortal.ViewModels.NewStudentViewModel
@{
    ViewBag.Title = "NewStudent";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">New Student</h2>
    <hr/>
</div>

<div class="container float-left">
    @using (Html.BeginForm("CreateStudent", "Staff"))
    {
        <div class="form-group">
            @Html.LabelFor(s => s.Student.Id)
            @Html.TextBoxFor(s => s.Student.Id, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.FirstName)
            @Html.TextBoxFor(s => s.Student.FirstName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.LastName)
            @Html.TextBoxFor(s => s.Student.LastName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.YearGroup)
            @Html.DropDownListFor(s => s.Student.YearGroup, new SelectList(Model.YearGroups, "Id", "Name"), "", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.YearGroup)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.RegGroup)
            @Html.DropDownListFor(s => s.Student.RegGroup, new SelectList(Model.RegGroups, "Id", "Name"), "", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.RegGroup)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.FourMId)
            @Html.TextBoxFor(s => s.Student.FourMId, new {@class = "form-control"})
        </div>
        @Html.HiddenFor(s => s.Student.AccountBalance, new {Value = 0.00})
        @Html.AntiForgeryToken()
        <button type="button" class="btn btn-primary" id="backButton">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/Students");
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/staff")
}