@model MyPortal.ViewModels.NewStudentViewModel
@{
    ViewBag.Title = "New Student";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="container float-left">
    <h2 class="mp-page-title">New Student</h2>
    <hr/>
</div>

<div class="container float-left">
    @using (Html.BeginForm("CreateStudent", "Staff"))
    {
        <div class="form-group">
            @Html.LabelFor(s => s.Student.FirstName)
            @Html.TextBoxFor(s => s.Student.FirstName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.LastName)
            @Html.TextBoxFor(s => s.Student.LastName, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.Gender)
            @Html.DropDownListFor(s => s.Student.Gender, new SelectList(Model.Genders, "Value", "Name"), "Select Gender", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Gender)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.Email)
            @Html.TextBoxFor(s => s.Student.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.YearGroupId)
            @Html.DropDownListFor(s => s.Student.YearGroupId, new SelectList(Model.YearGroups, "Id", "Name"), "Select Year Group", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.YearGroup)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.RegGroupId)
            @Html.DropDownListFor(s => s.Student.RegGroupId, new SelectList(Model.RegGroups, "Id", "Name"), "Select Reg Group", new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.RegGroup)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.CandidateNumber)
            @Html.TextBoxFor(s => s.Student.CandidateNumber, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.CandidateNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Student.MisId)
            @Html.TextBoxFor(s => s.Student.MisId, new {@class = "form-control"})
            @Html.ValidationMessageFor(s => s.Student.MisId)
        </div>
        @Html.HiddenFor(s => s.Student.AccountBalance, new {Value = 0.00})
        @Html.AntiForgeryToken()
        <button type="button" class="btn btn-primary" id="backButton">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/Students");
                });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/staff")
}