@model MyPortal.ViewModels.ResultSetsViewModel
@{
    ViewBag.Title = "Result Sets";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<body>
    <div class="container float-left">
        <h2 class="mp-page-title">Result Sets</h2>
        <hr />
    </div>

    <div class="container float-left">
        @if (User.IsInRole("SeniorStaff"))
        {
            <button type="button" class="btn btn-success mp-btn-top-auto" data-toggle="modal" data-target="#NewResultSetModal">New Result Set</button>
            <hr />
        }

    </div>

    <div class="container float-left">
        <table class="table table-bordered table-hover mp-table mp-table-link" id="resultSets">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="NewResultSetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Result Set</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/resultSets/new", HttpMethod = "POST", OnSuccess = "newResultSetSuccess", OnFailure = "newResultSetFailure" }, new { id = "newResultSetForm" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ResultSet.Name)
                            @Html.TextBoxFor(x => x.ResultSet.Name, new { @class = "form-control", Name = "Name" })
                            @Html.ValidationMessageFor(x => x.ResultSet.Name)
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="EditResultSetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Result Set</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span>&times;</button>
                </div>
                @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/api/resultSets/update", HttpMethod = "POST", OnSuccess = "editResultSetSuccess", OnFailure = "editResultSetFailure" }, new { id = "editResultSetForm" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ResultSet.Name)
                            @Html.TextBoxFor(x => x.ResultSet.Name, new { @class = "form-control", Name = "Name", id = "EditResultSetNameControl" })
                            @Html.ValidationMessageFor(x => x.ResultSet.Name)
                        </div> 
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ResultSet.Id, new { Name = "Id", id = "EditResultSetIdControl" })
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#resultSets").DataTable({
                ajax: {
                    url: "/api/resultSets/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"                                               
                    },
                    {
                        data: "isCurrent",
                        render: function(data) {
                            if (data === true) {
                                return "Current";
                            }
                            if (data === false) {
                                return "Active";
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button type='button' class='btn btn-xs btn-warning mp-btn-action-left js-edit' data-set-id=" +
                                data +
                                "><i class=\"far fa-edit\"></i></button> " +                                 
                                "<button type='button' class='btn btn-xs btn-success mp-btn-action-right js-current' data-set-id=" + 
                                data + 
                                "><i class=\"fas fa-calendar-check\"></i></button> " +
                                "<button type='button' class='btn btn-xs btn-danger mp-btn-action-right js-delete' data-set-id=" +
                                data +
                                "><i class=\"far fa-trash-alt\"></i></button>";
                        }
                    }
                ]
            });

            $("#resultSets").on("click",
                ".js-edit",
                function () {
                    var button = $(this);
                    var setId = button.attr("data-set-id");
                    $.ajax({
                        url: "/api/resultSets/byId/" + setId,
                        method: "GET",
                        success: function (result) {
                            $("#EditResultSetNameControl").val(result["name"]);
                            $("#EditResultSetIdControl").val(result["id"]);
                        },
                        error: function () {
                            toastr.error("Failed to load result set data");
                        }
                    });
                    $("#EditResultSetModal").modal('toggle');
                });

            $("#resultSets").on("click",
                ".js-current",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to mark this result set as current?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/resultSets/setCurrent/" + button.attr("data-set-id"),
                                    method: "POST",
                                    success: function (a) {
                                        $("#resultSets").DataTable().ajax.reload();
                                        toastr.success(a);
                                    },
                                    error: function (e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });

            $("#resultSets").on("click",
                ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you wish to delete this result set?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/resultSets/delete/" + button.attr("data-set-id"),
                                    method: "DELETE",
                                    success: function (a) {
                                        $("#resultSets").DataTable().ajax.reload();
                                        toastr.success(a);
                                    },
                                    error: function (e) {
                                        toastr.error(e.responseJSON);
                                    }
                                });
                            }
                        });
                });

        });

        function newResultSetSuccess(result) {
            $("#NewResultSetModal").modal('hide');
            $("#resultSets").DataTable().ajax.reload();
            toastr.success(result);
        }

        function newDocumentFailure(result) {
            $("#NewResultSetModal").modal('hide');
            toastr.error(result.responseJSON);
        }

        function editResultSetSuccess(result) {
            $("#EditResultSetModal").modal('hide');
            $("#resultSets").DataTable().ajax.reload();
            toastr.success(result);
        }

        function editResultSetFailure(result) {
            $("#EditResultSetModal").modal('hide');
            toastr.error(result.responseJSON);
        }
    </script>
}

