@model MyPortal.ViewModels.StudentResultsViewModel
@{
    ViewBag.Title = "StudentResults";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Assessment Results - @Model.Student.LastName, @Model.Student.FirstName</h2>

<hr />

<div class="container">
    <div>
        @Html.DropDownList("SelectedResultSet", new SelectList(Model.ResultSets, "Id", "Name", Model.CurrentResultSetId), new { @class = "form-control", Name = "ResultSet", id = "selectedResultSet" })
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewResultModal" style="margin-top: 8px;">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Result
        </button>
        <div class="panel panel-primary" style="max-width: 1000px; margin-top: 8px;" id="ResultsPanel">
            <div class="panel-heading">MyResults</div>
            <table class="table table-bordered" id="results" data-student-id="@Model.Student.Id">
                <thead>
                    <tr style="background-color: #18bc9c;">
                        <th style="color: whitesmoke;">Subject</th>
                        <th style="color: whitesmoke;">Result</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="NewResultModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--CONTENT-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Result - @Model.Student.LastName, @Model.Student.FirstName</h4>
            </div>
            @using (Ajax.BeginForm(null, null, null, new { id = "NewResultForm" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Result.ResultSet)
                        @Html.DropDownListFor(x => x.Result.ResultSet, new SelectList(Model.ResultSets, "Id", "Name", Model.ResultSets.SingleOrDefault(y => y.IsCurrent).Id), new { @class = "form-control", Name = "ResultSet" })
                        @Html.ValidationMessageFor(x => x.Result.ResultSet)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Result.Subject)
                        @Html.DropDownListFor(x => x.Result.Subject, new SelectList(Model.Subjects, "Id", "Name"), "Select a Subject", new { @class = "form-control", Name = "Subject" })
                        @Html.ValidationMessageFor(x => x.Result.Subject)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Result.Value)
                        @Html.TextBoxFor(x => x.Result.Value, new { @class = "form-control", Name = "Value" })
                        @Html.ValidationMessageFor(x => x.Result.Value)
                    </div>
                    @Html.HiddenFor(x => x.Result.Student, new { Value = Model.Student.Id, Name = "Student" })
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-student-id="@Model.Student.Id" id="backButton">Back</button>

@section scripts
{
    <script>
        $(document).ready(function () {

            var student = $("#results").attr("data-student-id");

                $("#results").DataTable({
                    ajax: {
                        url: "/api/results/fetch",
                        data: function(d) {
                            d.student = student;
                            d.resultSet = $("#selectedResultSet").val();
                        },
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "subject1.name"
                    },
                    {
                        data: "value"
                    }
                ],
                paging: false,
                ordering: false,
                searching: false,
                info: false,
                "language": {
                    "emptyTable": "No results to display"
                }
            });

            $("#selectedResultSet").on("change", function () {
                $("#results").DataTable().ajax.reload();              
            });


            //New Result Submit
            $("#NewResultForm").on("submit",
                function (e) {
                    var form = $("#NewResultForm");

                    e.preventDefault();

                    $.ajax({
                        url: "/api/results/new",
                        data: form.serialize(),
                        method: "POST",
                        success: function () {
                            toastr.success("Result added");
                            $("#NewResultModal").modal('toggle');
                        },
                        error: function () {
                            toastr.error("Result could not be added");
                        }
                    });
                });

            $("#backButton").on("click",
                function() {
                    location.replace("/Staff/Students/" + $("#backButton").attr("data-student-id"));
                });
        });
    </script>

    @Scripts.Render("~/bundles/staff")
    @Scripts.Render("~/bundles/jqueryval")
}

