@model MyPortal.ViewModels.StudentDetailsViewModel
@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<h2>@Model.Student.LastName, @Model.Student.FirstName</h2>

<hr />

<body>
    <div class="container" id="Details">
        <div style="float: left;">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Edit Details
            </button>
            <div class="panel panel-primary" style="width: 300px; margin-top: 8px;">
                <div class="panel-heading">MyDetails</div>
                <div class="panel-body">
                    <table class="table-condensed">
                        <tr>
                            <td><b>First Name</b></td>
                            <td>@Model.Student.FirstName</td>
                        </tr>
                        <tr>
                            <td><b>Last Name</b></td>
                            <td>@Model.Student.LastName</td>
                        </tr>
                        <tr>
                            <td><b>Year Group</b></td>
                            <td>@Model.Student.YearGroup</td>
                        </tr>
                        <tr>
                            <td><b>Reg Group</b></td>
                            <td>@Model.Student.RegGroup</td>
                        </tr>
                    </table>
                    <hr/>
                    <h4><b>Balance:</b> £@Model.Student.AccountBalance</h4>
                </div>
            </div>
        </div>

        <div style="float: left; margin-left: 20px;" id="Results">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Edit Results
            </button>
            <div class="panel panel-primary" style="width: 300px; margin-top: 8px;">
                <div class="panel-heading">MyResults</div>
                <div class="panel-body">
                    @if (!Model.Results.Any())
                    {
                        <text>No results to display.</text>
                    }
                    else
                    {
                        <table class="table table-condensed table-bordered">
                            <thead style="">
                            <tr style="background-color: #158cba;">
                                <th style="color: white">Subject</th>
                                <th style="color: white">Result</th>
                            </tr>
                            </thead>
                            @foreach (var result in Model.Results)
                            {
                                <tr>
                                    <td>@result.Subject1.Name</td>
                                    <td>@result.Value</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>

        <div style="float: left; margin-left: 20px;" id="Chart">
            <div class="panel panel-primary" style="width: 300px; margin-top: 44px;">
                <div class="panel-heading">MyResults - Chart</div>
                <div class="panel-body">
                    @if (!Model.Results.Any())
                    {
                        <text>No data to display.</text>
                    }
                    else
                    {
                        <canvas id="resultsChart" style="width: 300px; height: 300px;"></canvas>

                        <script>
                            var ctx = document.getElementById('resultsChart').getContext('2d');
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'bar',
                                fillOpacity: .3,
                                // The data for our dataset
                                data: {
                                    @if (Model.IsUpperSchool == true)
                                    {
                                        <text>labels: ["A*", "A", "B", "C", "D", "E", "F", "G", "U"],</text>
                                    }
                                    else
                                    {
                                        <text>labels: ["E", "8", "7", "6", "5", "4", "3", "2", "1"],</text>
                                    }
                                    datasets: [{
                                        label: "My First dataset",
                                        backgroundColor: [
                                            "rgba(255,0,0,0.5)", 	//L1
                                            "rgba(255,127,0,0.5)", 	//L2
                                            "rgba(255,255,0,0.5)", 	//L3
                                            "rgba(0,255,0,0.5)", 	//L4
                                            "rgba(0,0,255,0.5)", 	//L5
                                            "rgba(75,0,130,0.5)", 	//L6
                                            "rgba(148,0,211,0.5)", 	//L7
                                            "rgba(228,35,157,0.5)", //L8
                                            "rgba(0,0,0,0.5)"],     //L9
                                        borderColor: [
                                            "rgba(255,0,0,0.5)", 	//L1
                                            "rgba(255,127,0,0.5)", 	//L2
                                            "rgba(255,255,0,0.5)", 	//L3
                                            "rgba(0,255,0,0.5)", 	//L4
                                            "rgba(0,0,255,0.5)", 	//L5
                                            "rgba(75,0,130,0.5)", 	//L6
                                            "rgba(148,0,211,0.5)", 	//L7
                                            "rgba(228,35,157,0.5)", //L8
                                            "rgba(0,0,0,0.5)"],     //L9
                                        data: [
                                            @Model.ChartData.L1,
                                            @Model.ChartData.L2,
                                            @Model.ChartData.L3,
                                            @Model.ChartData.L4,
                                            @Model.ChartData.L5,
                                            @Model.ChartData.L6,
                                            @Model.ChartData.L7,
                                            @Model.ChartData.L8,
                                            @Model.ChartData.L9]
                                    }]
                                },

                                // Configuration options go here
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>

                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div>
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Log
            </button>
            <div class="panel panel-primary" style="width: 1000px; margin-top: 8px;" id="Logs">
                <div class="panel-heading">MyLogs</div>
                <div class="panel-body">
                    @if (!Model.Logs.Any())
                    {<text>No logs to display.</text>}
                    else
                    {
                        <table class="table table-bordered" >
                            <thead>
                            <tr style="background-color: #158cba;">
                                <th><font color="#fff">Date</font></th>
                                <th><font color="#fff">Author</font></th>
                                <th><font color="#fff">Type</font></th>
                                <th><font color="#fff">Message</font></th>
                            </tr>
                            </thead>
                            @foreach (var log in Model.Logs)
                            {
                                <tr>
                                    <td>@log.Date.ToShortDateString()</td>
                                    <td>@log.Staff.Title @log.Staff.FirstName.Substring(0,1) @log.Staff.LastName</td>
                                    <td>@log.LogType.Name</td>
                                    <td>@log.Message</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

</body>