<!--begin::Aside-->
<div class="flex-row-auto offcanvas-mobile w-300px w-xl-350px" id="kt_profile_aside">
    <!--begin::Profile Card-->
    <div class="card card-custom card-stretch">
        <!--begin::Body-->
        <div class="card-body pt-4">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-hor"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover py-5">
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-drop"></i>
                                    </span>
                                    <span class="navi-text">New Group</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-list-3"></i>
                                    </span>
                                    <span class="navi-text">Contacts</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-rocket-1"></i>
                                    </span>
                                    <span class="navi-text">Groups</span>
                                    <span class="navi-link-badge">
                                        <span class="label label-light-primary label-inline font-weight-bold">new</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-bell-2"></i>
                                    </span>
                                    <span class="navi-text">Calls</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-gear"></i>
                                    </span>
                                    <span class="navi-text">Settings</span>
                                </a>
                            </li>
                            <li class="navi-separator my-3"></li>
                            <li class="navi-footer">
                                <a class="btn btn-light-danger font-weight-bolder btn-sm" href="#">Delete</a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
            </div>
            <!--end::Toolbar-->
            <!--begin::User-->
            <div class="d-flex align-items-center">
                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                    <div class="symbol-label" style="background-image:url('/lib/metronic/media/users/default.jpg')"></div>
                </div>
                <div>
                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.Student.Person.GetDisplayName()</a>
                    <div class="text-muted">@Model.Student.House.Name</div>
                </div>
            </div>
            <!--end::User-->
            <!--begin::Contact-->
            <div class="py-9">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="font-weight-bold mr-2">Year Group:</span>
                    <span class="text-muted">@Model.Student.YearGroup.Name</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="font-weight-bold mr-2">Reg Group:</span>
                    <span class="text-muted">@Model.Student.RegGroup.Name</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="font-weight-bold mr-2">Reg Tutor:</span>
                    <span class="text-muted">@Model.Student.RegGroup.Tutor.Person.GetDisplayName(true)</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="font-weight-bold mr-2">Head of Year:</span>
                    <span class="text-muted">@Model.Student.YearGroup.HeadOfYear?.Person.GetDisplayName(true)</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <span class="font-weight-bold mr-2">Head of House:</span>
                    <span class="text-muted">@Model.Student.House.HeadOfHouse?.Person.GetDisplayName(true)</span>
                </div>
            </div>
            <!--end::Contact-->
            <!--begin::Nav-->
            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                <div class="navi-item mb-2">
                    <a href="@Url.Action("StudentProfileOverview", "Student", new {area = "Staff", studentId = Model.Student.Id})" class="navi-link py-4" id="link_overview">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-layer-group"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Student Overview</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-user-graduate"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Student Details</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-clipboard-check"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Assessment</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-stopwatch"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Attendance</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="@Url.Action("StudentBehaviour", "Student", new {area = "Staff", studentId = Model.Student.Id})" class="navi-link py-4" id="link_behaviour">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-star"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Behaviour Management</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-envelope"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Communication</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-graduation-cap"></i>
                            </span>
                        </span>
                        <span class="navi-text font-size-lg">Curriculum Management</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="@Url.Action("StudentProfileDocuments", "Student", new {area = "Staff", studentId = Model.Student.Id})" class="navi-link py-4" id="link_documents">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-file"></i>
                            </span>
                        </span>
                        <span class="navi-text">Documents</span>
                    </a>
                </div>
                <div class="navi-item mb-2">
                    <a href="#" class="navi-link py-4" data-toggle="tooltip" title="Coming soon..." data-placement="right">
                        <span class="navi-icon mr-2">
                            <span class="svg-icon">
                                <i class="fad fa-fw fa-traffic-cone"></i>
                            </span>
                        </span>
                        <span class="navi-text">SEND</span>
                    </a>
                </div>
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Profile Card-->
</div>
<!--end::Aside-->