@model MyPortalCore.Areas.Staff.ViewModels.Student.StudentDocumentsViewModel
@{
    ViewBag.Title = "Documents";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5"><i class="fas fa-file mr-2"></i>Documents</h5>
            <!--end::Page Title-->

        </div>
        <!--end::Info-->

    </div>
</div>
<!--end::Subheader-->

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-row">
            <partial name="~/Areas/Staff/Views/Student/StudentProfile/_Sidebar.cshtml" />

            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8">
                <!--begin::Advance Table: Widget 7-->
                <div class="card card-custom gutter-bs">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Documents</span>
                        </h3>
                        <div class="card-toolbar">
                            <button class="btn btn-light-primary font-weight-bolder mr-2" id="btnNewDocument">
                                <span class="svg-icon svg-icon-md">
                                    <i class="fas fa-plus"></i>
                                </span>Add Document
                            </button>
                            <button class="btn btn-light-primary font-weight-bolder" id="btnNewDirectory">
                                <span class="svg-icon svg-icon-md">
                                    <i class="fas fa-plus"></i>
                                </span>Add Directory
                            </button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body px-0">
                        <div class="container">
                            <div>
                                <button type="button" class="btn btn-light-primary" id="backButton" disabled><i class="fas fa-arrow-left mr-2"></i>Back</button>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <table id="tblDocuments" class="table" data-directory-id="@Model.Student.Person.DirectoryId">
                                        <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Uploaded
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 7-->
            </div>
            <!--end::Content-->
        </div>
    </div>
</div>

<div class="modal fade" id="directory_modal" tabindex="-1" role="dialog" aria-labelledby="directory_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="directory_modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form id="directory_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="directory_name">Name</label>
                        <input asp-for="Directory.Name" name="Name" type="text" id="directory_name" class="form-control" />
                        @Html.ValidationMessageFor(x => x.Directory.Name, null, new { data_valmsg_for = "Name", @class = "text-danger" })
                    </div>

                    <input type="hidden" name="ParentId" id="directory_parentId" />
                    <input type="hidden" name="Id" id="directory_id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold" id="directory_save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="document_modal" tabindex="-1" role="dialog" aria-labelledby="document_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="document_modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form id="document_form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="document_typeId">Type</label>
                        <select asp-for="Document.TypeId" asp-items="Model.DocumentTypes" name="TypeId" class="form-control" id="document_typeId"></select>
                        @Html.ValidationMessageFor(x => x.Document.TypeId, null, new { data_valmsg_for = "TypeId", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="document_title">Title</label>
                        <input asp-for="Document.Title" name="Title" type="text" id="document_title" class="form-control" />
                        @Html.ValidationMessageFor(x => x.Document.Title, null, new { data_valmsg_for = "Title", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="document_description">Description</label>
                        <textarea asp-for="Document.Description" name="Description" id="document_description" class="form-control" rows="7"></textarea>
                        @Html.ValidationMessageFor(x => x.Document.Description, null, new { data_valmsg_for = "Description", @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="document_fileId">Google File ID</label>
                        <input asp-for="Document.FileId" name="FileId" type="text" id="document_fileId" class="form-control" />
                        @Html.ValidationMessageFor(x => x.Document.FileId, null, new { data_valmsg_for = "FileId", @class = "text-danger" })
                    </div>

                    <input type="hidden" name="DirectoryId" id="document_directoryId" />
                    <input type="hidden" name="Id" id="document_id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold" id="document_save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        var urlGetDirectoryInfo = "@Url.RouteUrl("ApiDirectoryGetChildren")";

        var urlGetDirectoryById = "@Url.RouteUrl("ApiDirectoryGetById")";
        var urlCreateDirectory = "@Url.RouteUrl("ApiDirectoryCreate")";
        var urlUpdateDirectory = "@Url.RouteUrl("ApiDirectoryUpdate")";
        var urlDeleteDirectory = "@Url.RouteUrl("ApiDirectoryDelete")";

        var urlGetDocumentById = "@Url.RouteUrl("ApiDocumentGetById")";
        var urlCreateDocument = "@Url.RouteUrl("ApiDocumentCreate")";
        var urlUpdateDocument = "@Url.RouteUrl("ApiDocumentUpdate")";
        var urlDeleteDocument = "@Url.RouteUrl("ApiDocumentDelete")";
        var urlDownloadDocument = "@Url.RouteUrl("ApiDocumentDownload")";
        var urlGetLinkDocument = "@Url.RouteUrl("ApiDocumentGetWebViewLink")";

        var rootDirectory = "@Model.Student.Person.DirectoryId";

        $(document).ready(function() {
            $("#link_documents").addClass("active");

            loadDirectory(rootDirectory);

            $("#backButton").on("click",
                function() {
                    loadDirectory($(this).attr("data-parent-id"));
                });

            $("#btnNewDirectory").on("click",
                function() {
                    openDirectoryForm(false);
                });

            $("#btnNewDocument").on("click",
                function() {
                    openDocumentForm(false);
                });

            $("#document_save").on("click",
                function() {
                    submitDocumentForm();
                });

            $("#directory_save").on("click",
                function() {
                    submitDirectoryForm();
                });

            $("#directory_form").validate().settings.errorClass = "is-invalid";
            $("#document_form").validate().settings.errorClass = "is-invalid";
        });

        function loadDirectory(directoryId) {
            var table = $("#tblDocuments");

            table.attr("data-directory-id", directoryId);

            var params = { directoryId: directoryId };

            var url = `${urlGetDirectoryInfo}?${$.param(params)}`;

            if (table.hasClass("dataTable")) {
                var dt = table.DataTable();

                dt.ajax.url(url);

                dt.ajax.reload();
            } else {
                loadDataTable(url);
            }
        }

        function openDirectoryForm(editMode, directoryId) {
            if (editMode) {
                $("#directory_modal").addClass("edit-mode");

                $("#directory_id").removeAttr("disabled");

                $("#directory_modal_title").text("Edit Directory");

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: `${urlGetDirectoryById}?directoryId=${directoryId}`,
                    success: function(data) {
                        $("#directory_name").val(data["name"]);
                        $("#directory_parentId").val(data["parentId"]);
                        $("#directory_id").val(data["id"]);
                    },
                    error: function(data) {
                        toastr.error(data.responseJSON);
                    }
                });

            } else {
                $("#directory_modal").removeClass("edit-mode");

                $("#directory_id").attr("disabled", "true");

                $("#directory_modal_title").text("New Directory");
            }

            $("#directory_parentId").val($("#tblDocuments").attr("data-directory-id"));
            $("#directory_modal").modal('show');
        }

        function openDocumentForm(editMode, documentId) {
            if (editMode) {
                $("#document_modal").addClass("edit-mode");

                $("#document_fileId").attr("disabled", true);

                $("#document_id").removeAttr("disabled");

                $("#document_modal_title").text("Edit Document");

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: `${urlGetDocumentById}?documentId=${documentId}`,
                    success: function(data) {
                        $("#document_title").val(data["title"]);
                        $("#document_description").val(data["description"]);
                        $("#document_typeId").val(data["typeId"]);
                        $("#document_fileId").val(data["fileId"]);
                        $("#document_parentId").val(data["directoryId"]);
                        $("#document_id").val(data["id"]);
                    },
                    error: function(data) {
                        toastr.error(data.responseJSON);
                    }
                });

            } else {
                $("#document_modal").removeClass("edit-mode");

                $("#document_id").attr("disabled", "true");

                $("#document_fileId").removeAttr("disabled");

                $("#document_modal_title").text("New Document");
            }

            $("#document_directoryId").val($("#tblDocuments").attr("data-directory-id"));
            $("#document_modal").modal('show');
        }

        function submitDirectoryForm() {

            if ($("#directory_form").valid()) {
                if ($("#directory_modal").hasClass("edit-mode")) {
                    $.ajax({
                        type: "PUT",
                        url: urlUpdateDirectory,
                        data: $("#directory_form").serialize(),
                        success: function(e) {
                            $("#directory_modal").modal('hide');
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: urlCreateDirectory,
                        data: $("#directory_form").serialize(),
                        success: function(e) {
                            $("#directory_modal").modal('hide');
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                }
            }
        }

        function submitDocumentForm() {

            if ($("#document_form").valid()) {
                if ($("#document_modal").hasClass("edit-mode")) {
                    $.ajax({
                        type: "PUT",
                        url: urlUpdateDocument,
                        data: $("#document_form").serialize(),
                        success: function(e) {
                            $("#document_modal").modal('hide');
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: urlCreateDocument,
                        data: $("#document_form").serialize(),
                        success: function(e) {
                            $("#document_modal").modal('hide');
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                }
            }
        }

        function editDirectory(directoryId) {
            if (directoryId != null) {
                openDirectoryForm(true, directoryId);
            }
        }

        function deleteDirectory(directoryId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Are you sure you want to delete this directory? This cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url: `${urlDeleteDirectory}?directoryId=${directoryId}`,
                        success: function(e) {
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                }
            });
        }

        function editDocument(documentId) {
            if (documentId != null) {
                openDocumentForm(true, documentId);
            }
        }

        function deleteDocument(documentId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Are you sure you want to delete this document? This cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url: `${urlDeleteDocument}?documentId=${documentId}`,
                        success: function(e) {
                            actionSuccess(e);
                        },
                        error: function(e) {
                            actionFailure(e);
                        }
                    });
                }
            });
        }

        function downloadDocument(documentId) {
            if (documentId != null) {
                location.href = `${urlDownloadDocument}?documentId=${documentId}`;
            }
        }

        function webViewDocument(documentId) {
            if (documentId != null) {
                $.ajax({
                    type: "GET",
                    dataType: "text",
                    url: `${urlGetLinkDocument}?documentId=${documentId}`,
                    success: function(data) {
                        window.open(data, "_blank");
                    },
                    error: function(data) {
                        toastr.error(data.responseJSON);
                    }
                });
            }
        }

        function actionSuccess(e) {
            Swal.fire({
                title: "Success",
                text: e,
                icon: "success"
            }).then(function() {
                //Reload directory
                loadDirectory($("#tblDocuments").attr("data-directory-id"));
            });
        }

        function actionFailure(e) {
            Swal.fire({
                title: "Error",
                text: e.responseText,
                icon: "error"
            });
        }

        function setBackButton(directory) {
            if (directory.parentId == null) {
                $("#backButton").attr("disabled", true);
                $("#backButton").removeAttr("data-parent-id");
            } else {
                $("#backButton").removeAttr("disabled");
                $("#backButton").attr("data-parent-id", directory.parentId);
            }
        }

        function loadDataTable(url) {
            $("#tblDocuments").DataTable({
                ajax:
                {
                    url: url,
                    dataSrc: function(data) {
                        setBackButton(data.directory);

                        return data.children;
                    }
                },
                "dom": "rtilp",
                columns: [
                    {
                        data: "id",
                        render: function(data, type, child) {
                            if (child.isDirectory) {
                                return `<span class="text-dark-75 font-weight-bold"><img src="${child.icon}" class="mr-2" height="30"/><a href="javascript:loadDirectory('${child.id}');">${child.name}</a></span>`;
                            } else {
                                return `<span class="text-dark-75 font-weight-bold"><img src="${child.icon}" class="mr-2" height="30"/>${child.name}</span>`;
                            }
                        }
                    },
                    {
                        data: "type"
                    },
                    {
                        data: "createdDate",
                        render: function(data, type, child) {
                            if (child.isDirectory) {
                                return "";
                            } else {
                                return `${moment(child.createdDate).format("DD/MM/YYYY")}`;
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, child) {
                            if (child.isDirectory) {
                                return `<div class="dropdown ml-2" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                                            <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <i class="ki ki-more-hor font-size-lg text-primary"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" style="position: absolute; transform: translate3d(-217px, 33px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                <!--begin::Navigation-->
                                                <ul class="navi navi-hover py-5">
                                                    <li class="navi-item">
                                                        <a href="javascript:editDirectory('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fas fa-fw fa-edit"></i></span>
                                                            <span class="navi-text">Edit</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="javascript:deleteDirectory('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fas fa-fw fa-trash-alt"></i></span>
                                                            <span class="navi-text">Delete</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Navigation-->
                                            </div>
                                        </div>`;
                            } else {
                                return `<div class="dropdown ml-2" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                                            <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <i class="ki ki-more-hor font-size-lg text-primary"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" style="position: absolute; transform: translate3d(-217px, 33px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                <!--begin::Navigation-->
                                                <ul class="navi navi-hover py-5">
                                                    <li class="navi-item">
                                                        <a href="javascript:webViewDocument('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fab fa-fw fa-google-drive"></i></span>
                                                            <span class="navi-text">Open in Google Drive</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="javascript:downloadDocument('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fas fa-fw fa-download"></i></span>
                                                            <span class="navi-text">Download</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="javascript:editDocument('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fas fa-fw fa-edit"></i></span>
                                                            <span class="navi-text">Edit</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="javascript:deleteDocument('${child.id}')" class="navi-link">
                                                            <span class="navi-icon"><i class="fas fa-fw fa-trash-alt"></i></span>
                                                            <span class="navi-text">Delete</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Navigation-->
                                            </div>
                                        </div>`;
                            }
                        }
                    }
                ],
                "ordering": false,
                "language":
                {
                    "emptyTable": "No documents"
                },
                "responsive": true
            });
        }
    </script>

    <script src="~/js/modals.js"></script>
}

